@section SampleHeading{
    <span class="sampleName">TileView-Default-ASP.NET MVC-SYNCFUSION</span>}
@section MetaTags{
   <meta name="description" content="This example demonstrates how to display groups and separated columns using the Syncfusion ASP.NET MVC Tile view component.">
}
@section ActionDescription{
    <div class="action-description">
    <p>
        This sample demonstrates rendering Tiles Component which are simple, opaque rectangles or squares and they are arrayed on the start screen in a grid-like pattern. 
        Tapping or selecting a Tile, launches the app or does some other action that is represented by the Tile. Tiles are arranged in a group separated by columns that looks like a start screen of a device and it can be either static or live.
    </p>
    </div>
}
@section ControlsSection{
    <div class="e-tile-group">
        <div class="e-tile-column">
            @Html.EJ().Tile("tile1").ImagePosition(TileImagePosition.Fill).TileSize(TileSize.Medium).ImageUrl("../Images/tile/windows/people_1.png").Text("People")
            <div class="e-tile-small-col-2">
                @Html.EJ().Tile("tile2").ImagePosition(TileImagePosition.Center).TileSize(TileSize.Small).ImageUrl("../Images/tile/windows/alerts.png")
                @Html.EJ().Tile("tile3").ImagePosition(TileImagePosition.Center).TileSize(TileSize.Small).ImageUrl("../Images/tile/windows/bing.png")
                @Html.EJ().Tile("tile4").TileSize(TileSize.Small).ImageUrl("../Images/tile/windows/camera.png")
                @Html.EJ().Tile("tile5").ImagePosition(TileImagePosition.Center).TileSize(TileSize.Small).ImageUrl("../Images/tile/windows/messages.png")
            </div>
            @Html.EJ().Tile("tile6").ImagePosition(TileImagePosition.Center).TileSize(TileSize.Medium).ImageUrl("../Images/tile/windows/games.png").Text("Play")
            @Html.EJ().Tile("tile7").TileSize(TileSize.Medium).ImageUrl("../Images/tile/windows/map.png").Text("Maps")
            @Html.EJ().Tile("tile8").ImagePosition(TileImagePosition.Fill).TileSize(TileSize.Wide).ImageUrl("../Images/tile/windows/sports.png").Text("Sports")
        </div>
        <div class="e-tile-column">
            @Html.EJ().Tile("tile9").ImagePosition(TileImagePosition.Fill).TileSize(TileSize.Medium).ImageUrl("../Images/tile/windows/people_2.png").Text("People")
            @Html.EJ().Tile("tile10").ImagePosition(TileImagePosition.Center).TileSize(TileSize.Medium).ImageUrl("../Images/tile/windows/pictures.png").Text("Photo")
            @Html.EJ().Tile("tile11").ImagePosition(TileImagePosition.Center).TileSize(TileSize.Wide).ImageUrl("../Images/tile/windows/weather.png").Text("Weather")
            @Html.EJ().Tile("tile12").ImagePosition(TileImagePosition.Center).TileSize(TileSize.Medium).ImageUrl("../Images/tile/windows/music.png").Text("Music")
            @Html.EJ().Tile("tile13").ImagePosition(TileImagePosition.Center).TileSize(TileSize.Medium).ImageUrl("../Images/tile/windows/favs.png").Text("Favorites")
        </div>
    </div>
}
@section StyleSection{
    <style class="cssStyles">
        .e-tile-group {
            padding: 0;
            float: none;
            display: inline-block;
        }
        .cols-sample-area{
            text-align: center;
        }
    </style>
}

