@section MetaTags{
   <meta name="description" content="This example demonstrates the various methods like enable, disable and addItem etc in a ASP.NET MVC Tab control." >
}

@section SampleHeading{ <span class="sampleName">Tab-Methods-ASP.NET MVC-SYNCFUSION</span>}

@section ControlsSection{

   <div class="controlframe">
    @{Html.EJ().Tab("apiTab").Items(data =>
           {
               data.Add().ID("javaScript").Text("Java Script").ContentTemplate(@<div>
            JavaScript (JS) is an interpreted computer programming language.
            It was originally implemented as part of web browsers so that client-side scripts could interact with the user, control the browser,
            communicate asynchronously, and alter the document content that was displayed.More recently, however,
            it has become common in both game development and the creation of desktop applications.
        </div>);
               data.Add().ID("cSharp").Text("C Sharp").ContentTemplate(@<div>
            C# is intended to be a simple, modern, general-purpose, object-oriented programming language.
            Its development team is led by Anders Hejlsberg. The most recent version is C# 5.0, which was released on August 15, 2012.
        </div>);
               data.Add().ID("vb").Text("VB.Net").ContentTemplate(@<div>
            The command-line compiler, VBC.EXE, is installed as part of the freeware .NET Framework SDK.
            Mono also includes a command-line VB.NET compiler. The most recent version is VB 2012, which was released on August 15, 2012.
        </div>);
           }).Render();}
</div>
}
<div id="disable">
    <ul>
        <li>item1</li>
        <li>item2</li>
        <li>item3</li>
    </ul>
</div>
<div id="enable">
    <ul>
        <li>item1</li>
        <li>item2</li>
        <li>item3</li>
    </ul>
</div>
<div id="remove">
    <ul>
        <li>item1</li>
        <li>item2</li>
        <li>item3</li>
    </ul>
</div>
@section PropertiesSection{

    <div class="row">
        <div class="col-md-3">
            Disable Item
        </div>
        <div class="col-md-3">
            @Html.EJ().DropDownList("optDisable").Width("95px").TargetID("disable").ClientSideEvents(evt => evt.Change("onDisableChange")).WatermarkText("Select")

        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            Enable Item
        </div>
        <div class="col-md-3">
            @Html.EJ().DropDownList("optEnable").Width("95px").TargetID("enable").ClientSideEvents(evt => evt.Change("onEnableChange")).WatermarkText("Select")

        </div>
    </div>

    <div class="row">
        <div class="col-md-3">
            Remove Tab
        </div>
        <div class="col-md-3">
            @Html.EJ().DropDownList("optRemove").Width("95px").TargetID("remove").ClientSideEvents(evt => evt.Select("onRemoveChange")).WatermarkText("Select")
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            Destroy
        </div>
        <div class="col-md-3">
            @Html.EJ().ToggleButton("chkDestroy").ActiveText("Restore").DefaultText("Destroy").Width("95px").ClientSideEvents(evt => evt.Change("onDestoryRestore"))
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            Add Item
        </div>
        <div class="col-md-6">
            @Html.EJ().Button("btnAdd").Text("Add Item").Width("120px").ClientSideEvents(evt => evt.Click("addNewTabItem"))
        </div>
    </div>
}
@section ScriptSection{
    <script>
        $(function () {
            tabObj = $("#apiTab").data("ejTab");
			$("#sampleProperties").ejPropertiesPanel();
            first = [{ text: "item1" }];
            second = [{ text: "item1" }, { text: "item2" }];
            third = [{ text: "item1" }, { text: "item2" }, { text: "item3" }]; 
			enableObj=	$("#optEnable").data('ejDropDownList');
			disableObj=	$("#optDisable").data('ejDropDownList');
			removeObj=	$("#optRemove").data('ejDropDownList');
        });
        function onDisableChange(args) {
		if(tabObj.model!=null){
		    tabObj.option({ disabledItemIndex: [parseInt(args.itemId)] });
            $("#optEnable").ejDropDownList("clearText");
            $("#optRemove").ejDropDownList("clearText");
			}
        }
        function addNewTabItem() {
            if (tabObj.model != null) {
                tabObj.addItem("#btnAdd", "New Item");
            }
        }
        function onEnableChange(args) {
		if(tabObj.model!=null){
		    tabObj.option({ enabledItemIndex: [parseInt(args.itemId)] });
            $("#optDisable").ejDropDownList("clearText");
            $("#optRemove").ejDropDownList("clearText");
			}
        }
		function changeOrder()
		{		
			if($(tabObj.items).length==2){
			enableObj.setModel({dataSource: first});
			disableObj.setModel({dataSource: first});
			removeObj.setModel({dataSource: first});
			}
			else if($(tabObj.items).length==3){
			enableObj.setModel({dataSource: second});
			disableObj.setModel({dataSource: second});
			removeObj.setModel({dataSource: second});
			}
		}
        function onRemoveChange(args) {
		if(tabObj.model!=null){
		changeOrder();		
            tabObj.removeItem(parseInt(args.itemId));
            $("#optDisable").ejDropDownList("clearText");
            $("#optEnable").ejDropDownList("clearText");
			}
        }
        function onDestoryRestore(args) {
            i = 0;
            $("#optEnable").ejDropDownList("clearText");
            $("#optRemove").ejDropDownList("clearText");
            $("#optDisable").ejDropDownList("clearText");
            if (args.isChecked) {
                tabObj.destroy();
                enableObj.disable();
                disableObj.disable();
                removeObj.disable();
            }
            else {
                $("#apiTab").ejTab();
                tabObj = $("#apiTab").data("ejTab");
                enableObj.enable();
                disableObj.enable();
                removeObj.enable();
            }
        }
       
    </script>
}


