@section SampleHeading{ <span class="sampleName">Tab / OtherWidgets</span>}

@section ControlsSection{

    <div class="controlframe">
    @{Html.EJ().Tab("tabSample").Items(data =>
         {
             data.Add().ID("Pizza").Text("Pizza Menu").ContentTemplate(@<div>
            Pizza cooked to perfection tossed with milk, vegetables, potatoes, poultry, 100% pure mutton, and cheese - and in creating nutritious and tasty meals to maintain good health.
            @firstTab()
        </div>);
             data.Add().ID("Pasta").Text("Pasta Menu").ContentTemplate(@<div>
            Pasta cooked to perfection tossed with milk, vegetables, potatoes, poultry, 100% pure mutton, and cheese - and in creating nutritious and tasty meals to maintain good health.
            @secondTab()
        </div>);
             data.Add().ID("sandwizza").Text("Sandwizza Menu").ContentTemplate(@<div>
            Sandwizza cooked to perfection tossed with bread, milk, vegetables, potatoes, poultry, 100% pure mutton, and cheese - and in creating nutritious and tasty meals to maintain good health.
            @thirdTab()
        </div>);
         }).Render();}

</div>

    @helper firstTab()
{
        @Html.EJ().Accordion("pizzaMenu").Width("460px").Items(data1 =>
                     {
                         data1.Add().Text("GARDEN FRESH (Veg)").ContentTemplate(@<div>
                             <div>
                                 <div>
                                     Rating : 
                                                <div>
                                                    @Html.EJ().Rating("gradenPizza").AllowReset(false).ReadOnly(true).Value(4)

                                                </div>
                                 </div>
                                 Simple and delicious mozzarella cheese and pizza sauce on a classic crust.The goodness of crunchy onions, green capsicums & tomatoes.
                             </div>
                         </div>);
                         data1.Add().Text("CORN & SPINACH (Veg)").ContentTemplate(@<div>
                             <div>
                                 Rating : 
                                                <div>
                                                    @Html.EJ().Rating("cornPizza").AllowReset(false).ReadOnly(true).Value(4)

                                                </div>
                             </div>
                             Enticing blend of panneer, spinach, sweet corn and mozarella cheese. The garden fresh combination of sweet corn & green capsicums topped with slices of cottage cheese. 
                         </div>);
                         data1.Add().Text("CHICKEN DELITE (Non-veg)").ContentTemplate(@<div>
                             <div>
                                 Rating : 
                                                <div>
                                                    @Html.EJ().Rating("chickenPizza").AllowReset(false).ReadOnly(true).Value(4)

                                                </div>
                             </div>
                             A sumptuous portion of chicken chunks & onions topped with delicious mozzarella cheese.Great tropical treat of ripe pineapple chunks & slices of chicken loaf. 
                         </div>);
                         data1.Add().Text("KEEMA LA JAWAB (Non-veg)").ContentTemplate(@<div>
                             <div>
                                 Rating : 
                                                <div>
                                                    @Html.EJ().Rating("keemaPizza").AllowReset(false).ReadOnly(true).Value(3)

                                                </div>
                             </div>
                             Hot & delectable desi pizza with lamb keema, onions, garlic & tandoori seasoning. The flavor of chicken tikka along with green capsicum and tomatoes in rich makhani sauce. 
                         </div>);
                     }).Collapsible(true)
    }

    @helper secondTab()
{
        @Html.EJ().Accordion("pastaMenu").Width("460px").Items(data2 =>
               {
                   data2.Add().Text("ZESTY MUSHROOMS AND TOMATO  (Veg)").ContentTemplate(@<div>
                       <div>
                           Rating : 
                                                <div>
                                                    @Html.EJ().Rating("zestyPasta").AllowReset(false).ReadOnly(true).Value(4)
                                                </div>
                       </div>
                       Pasta cooked to perfection tossed with mushrooms & rich flavored tomato concasse oven baked with a cheesy touch.
                   </div>);
                   data2.Add().Text("CORN & SPINACH (Veg)").ContentTemplate(@<div>
                       <div>
                           Rating : 
                                                <div>
                                                    @Html.EJ().Rating("cornPasta").AllowReset(false).ReadOnly(true).Value(4)
                                                </div>
                       </div>
                       A healthy portion of pasta with sautered spinach mix, sweet corn, parsley & mozarella cheese. 
                   </div>);
                   data2.Add().Text("BAKED CHICKEN AND CHEESE (Non-veg)").ContentTemplate(@<div>
                       <div>
                           Rating : 
                                                <div>
                                                    @Html.EJ().Rating("bakedPasta").AllowReset(false).ReadOnly(true).Value(4)
                                                </div>
                       </div>
                       An all time favorite cheese 'n' pasta loaded with grilled chicken, corn and olives. 
                   </div>);
               }).Collapsible(true)

    }

    @helper thirdTab()
{
        @Html.EJ().Accordion("sandMenu").Width("460px").Items(data3 =>
               {
                   data3.Add().Text("GARDEN VEGGIE (Veg)").ContentTemplate(@<div>
                                               <div>
                                                   Rating : 
                                                <div>
                                                    @Html.EJ().Rating("gardenSand").AllowReset(false).ReadOnly(true).Value(3)
                                                </div>
                                               </div>
                                               A treat that brings to life the flavors of straight-from-the-garden-veggies replete with green chilies. An appetizing combination of panneer tikka, onions & tomatoes.
                                           </div>);
                   data3.Add().Text("PANEER TIKKA (Veg)").ContentTemplate(@<div>
                                               <div>
                                                   Rating : 
                                                <div>
                                                    @Html.EJ().Rating("paneerSand").AllowReset(false).ReadOnly(true).Value(4)
                                                </div>
                                               </div>
                                               An appetizing combination of panneer tikka, onions & tomatoes.A treat that brings to life the flavors of straight-from-the-garden-veggies replete with green chilies.
                                           </div>);
                   data3.Add().Text("CHICKEN TIKKA (Non-veg)").ContentTemplate(@<div>
                                               <div>
                                                   Rating : 
                                                <div>
                                                    @Html.EJ().Rating("chickenSand").AllowReset(false).ReadOnly(true).Value(4)
                                                </div>
                                               </div>
                                               An appetizing and hot combination of chicken tikka, onions & tomatoes.The ultimate non-veg fiesta of grilled chicken, chicken salami, lamb pepperoni with cheese & onions. 
                                           </div>);
              }).Collapsible(true)
    }
}



