<!DOCTYPE html>
<html lang="en">
<head>
    @{string sampleHeading = "";  }
    @if (IsSectionDefined("SampleHeading"))
    { 
        sampleHeading = RenderSection("SampleHeading", required: false).ToHtmlString();
        <title>@System.Text.RegularExpressions.Regex.Replace(sampleHeading, "<.*?>", string.Empty)</title>
    }
    else
    {
        <title>Essential Studio JS 1 for ASP.NET MVC is a set of server-side wrappers to add Syncfusion MVC components with the help of the server-side wrapper helper classes.</title>
    }
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- For Windows Phone 8 issue with touch selection background color -->
	<meta name="msapplication-tap-highlight" content="no"/>
    @RenderSection("MetaTags", false)
    <!-- <meta name="description" content="Essential Studio for Asp.Net MVC to add Syncfusion MVC components with the help of the server-side wrapper helper classes."> -->
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="author" content="Syncfusion" />
    <meta charset="utf-8" /> 
    <link rel="shortcut icon" href="@Url.Content("~/Content/images/favicon.ico")">
    <link href="@Url.Content("~/Content/bootstrap.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/ejthemes/ej.widgets.core.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/ejthemes/ej.reportdesigner.core.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/ejthemes/flat-saffron/ej.theme.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/ejthemes/flat-saffron/ej.reportdesigner.theme.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/ejthemes/responsive-css/ej.responsive.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/sampleBrowserSite.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/sampleBrowserSite-responsive.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/SourceTabFormatter.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/codemirror.css")" rel="stylesheet" />
	<script>
    function getAbsoluteURL() {
        return "@Url.Content("~/")";
    }
    </script>
    @RenderSection("StyleSection", required: false)    
    <!--[if lt IE 9]>
    <script src="@Url.Content("~/Scripts/jquery-1.11.3.min.js")"></script>
    <![endif]-->
    <!--[if gte IE 9]><!-->
    <script src="@Url.Content("~/Scripts/jquery-3.2.1.min.js")"></script>
    <!--<![endif]-->
    <script src="@Url.Content("~/Scripts/jquery.easing-1.3.min.js")"></script>
    <script src="@Url.Content("~/Scripts/jsviews.min.js")"></script>
    <script src="@Url.Content("~/Scripts/jsrender.min.js")"></script>
    <script src="@Url.Content("~/Scripts/pivotgrid.datasource.js")"></script>
    <script src="@Url.Content("~/Scripts/ej.web.all.min.js")"></script>
    <!--[if gte IE 9]><!-->
    <script src="@Url.Content("~/Scripts/ej.reportdesigner.min.js")"></script>
    <!--<![endif]-->
    <script src="@Url.Content("~/Scripts/cultures/ej.culture.en-US.min.js")"></script>
    <script src="@Url.Content("~/Scripts/sampleBrowserSite.js")"></script>
    <script src="@Url.Content("~/Scripts/sampleslist.js")"></script>
    <script src="@Url.Content("~/Scripts/properties.js")"></script>
    <script src="@Url.Content("~/Scripts/ZeroClipboard.js")"></script>
    <script src="@Url.Content("~/Scripts/CopyToClipboard.js")"></script>
	@RenderSection("ScriptReferenceSection", required: false) 
</head>
<body style="visibility:hidden">
    <h1 style="display: none">Essential Studio for Asp.Net MVC | Demos</h1>
    <div class="htmljssamplebrowser saffron">
        @Html.Partial("LayoutHeader")
        <div class="content-container-fluid">
            <div class="row">
                @Html.Partial("LayoutLeftAccordion")
                <div id="controlarea" class="control-panel scrollit">
                    <div class="row">
                        <div class="res_header">
                            @Html.EJ().Button("slidepanel").Type(ButtonType.Button).ContentType(ContentType.ImageOnly).PrefixIcon("e-icon slidepanel-nav").ClientSideEvents(ce => ce.Click("ShowPanelClick")).ShowRoundedCorner(true).Width("45px").Height("45px")
                            <span class="producttitle">Showcase samples</span>
                            @if (IsSectionDefined("SampleHeading"))
                            {
                                <div class="sampleheadingtext">
                                    @Html.Raw(sampleHeading)
                                </div>
                            }
                            <ul id="res_themebutton"></ul>
                        </div>
                        @RenderBody()
                        @if (IsSectionDefined("ControlsSection"))
                        {
                            <div class="cols-iframe">
                                <div>
                                    <div id="samplefile" class="sample-container">

                                        <div>
                                            <div class="content-container-fluid">
                                                <div class="row">
                                                    <div class="cols-sample-area">
                                                        @RenderSection("ControlsSection", required: false)
                                                    </div>
                                                    @if (IsSectionDefined("PropertiesSection"))
                                                    {
                                                        <div id="sampleProperties">
                                                            <div class="prop-grid keyboard">
                                                                @RenderSection("PropertiesSection", required: false)
                                                            </div>
                                                        </div>
                                                    }
                                                    @if (IsSectionDefined("EventsDropDown"))
                                                    {
                                                        <div class="cols-prop-area event-tracer">
                                                            <div>
                                                                <div class="heading">
                                                                    <span>Event Trace</span>
                                                                    <div class="pull-right">
                                                                        @RenderSection("EventsDropDown", required: false)
                                                                    </div>
                                                                </div>
                                                                <div class="prop-grid content">
                                                                    <div class="eventarea">
                                                                        <div class="EventLog" id="EventLog">
                                                                        </div>
                                                                    </div>
                                                                    <div class="evtbtn">
                                                                        <input type="button" class="eventclear e-btn" value="Clear" onclick="onClear()" />
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    }
                                                    @if (IsSectionDefined("RESTful"))
                                                    {
                                                        <div class="cols-prop-area event-tracer">
                                                            <div>
                                                                <div class="heading">
                                                                    <span>RESTful APIs</span>
                                                                    <div class="pull-right">
                                                                        @RenderSection("RESTful", required: false)
                                                                    </div>
                                                                </div>

                                                                <div class="prop-grid content">
                                                                    <div class="eventarea" style="margin:5px 0px;">
                                                                        <span class="eventTitle" style="overflow-wrap: break-word; font-weight: bold; padding:20px 0px;">//mvc.syncfusion.com/Services/Northwnd.svc/Orders/?</span>
                                                                    </div>
                                                                    <div class="eventarea">
                                                                        <div class="EventLog" id="EventLog" style="word-break: break-all;">
                                                                        </div>
                                                                    </div>
                                                                    <div class="evtbtn">
                                                                        <input type="button" class="eventclear e-btn" value="Clear" onclick="onClear()" />
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    }
                                                    @if (IsSectionDefined("TemplateSection"))
                                                    {
                                                        <div class="cols-prop-area">
                                                            <div class="heading">
                                                                <span>Templates</span>
                                                            </div>
                                                            <div class="prop-grid">
                                                                @RenderSection("TemplateSection", required: false)
                                                            </div>
                                                        </div>
                                                    }
                                                    @if (IsSectionDefined("ResourceSection"))
                                                    {
                                                        <div class="cols-prop-area">
                                                            <div class="heading">
                                                                <span>Resource Custom Workdays / Workhours</span>
                                                            </div>
                                                            <div class="prop-grid">
                                                                @RenderSection("ResourceSection", required: false)
                                                            </div>
                                                        </div>
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="cols-source sourcecodeTab">
                                @(new HtmlString(Html.RenderSourceCodeTab("CodeViewTab")))
                            </div>
                        }
                        <div class="control_ref">
                            <span class="ref_header">OTHER RESOURCES</span>
                            <div class="ref_options">
                                <a id="ref_document">Documentation</a>
                                <a id="ref_forums">Forums</a>
                                <a id="ref_kb">Knowledge base</a>
                                <a id="ref_support" href="https://www.syncfusion.com/support/directtrac">Support</a>
                            </div>
                        </div>
                    </div>

        <div id="footer">
            <div class="bottom-links">
                <div class="left">
                    <div class="sync-text">
                        Copyright © 2001-2019 Syncfusion Inc.
                    </div>
                </div>
                <div class="right">
                    <a onclick="goToSyncfusion()">
                        <div class="syncfusion-image">
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
            </div>
        </div>
    </div>
    
    @(Html.EJ().ScriptManager())
    @if (IsSectionDefined("ScriptSection"))
    {
        @RenderSection("ScriptSection", required: false)
    }
    @if (Html.RequestedServer() == ServerMode.IIS)
    {
        Html.IncludeIISUriPrefix();
    }
    <script>
        $(function () {
			//For HTC Windows Phone Width issue
			if (navigator.userAgent.match(/IEMobile\/10\.0/)) {
                var msViewportStyle = document.createElement("style");
                msViewportStyle.appendChild(document.createTextNode("@@-ms-viewport{width:auto!important}"));
                document.getElementsByTagName("head")[0].appendChild(msViewportStyle);
            }
            if ($("#CodeViewTab").length > 0) {
                $("#CodeViewTab").addClass("selectable");
                if ($(window).width() < 981) {
                    $("<span>").attr("id", "newwindow-wrapper").prependTo($("#CodeViewTab .e-header"));
                    $("<button>").attr({ "id": "newcodewindow", "style": "float:right", "title": "New Code Window" }).appendTo($("#CodeViewTab #newwindow-wrapper"));
                    $("<span>").attr("id", "copy-wrapper").prependTo($("#CodeViewTab .e-header"));
                    $("<button>").attr({ "id": "copyclipboard", "title": "Copy To Clipboard", "style": "float:right" }).appendTo($("#CodeViewTab #copy-wrapper"));
                }
                else {
                    $("<span>").attr("id", "newwindow-wrapper").appendTo($("#CodeViewTab .e-header"));
                    $("<button>").attr({ "id": "newcodewindow", "style": "float:right", "title": "New Code Window" }).appendTo($("#CodeViewTab #newwindow-wrapper"));
                    $("<span>").attr("id", "copy-wrapper").appendTo($("#CodeViewTab .e-header"));
                    $("<button>").attr({ "id": "copyclipboard", "title": "Copy To Clipboard", "style": "float:right" }).appendTo($("#CodeViewTab #copy-wrapper"));
                }

                $("<div>").attr({"class": "copysuccess",  "style": "display:none"}).appendTo($("#copy-wrapper")).html("Copied to clipboard");
                $("#newcodewindow").ejButton({
                        size: "small",
                        contentType: "textandimage",
                        text: "New",
                        prefixIcon: "e-icon newsrcwindow",
                        showRoundedCorner: true
                    });
            $("#copyclipboard").ejButton({
                    size: "small",
                    contentType: "textandimage",
                    text: "Copy",
                    prefixIcon: "e-icon  copycodeicon",
                    showRoundedCorner: true
                });
                $(".sourcecodeTab").on("click", '#newcodewindow', function () {
                    var popupWin = window.open();
                    $('.copysuccess').css('display', 'none');
                    var head,title = '<title> Essential Studio for ASP.NET MVC </title>'; 
					var meta = '<meta content="width=device-width, initial-scale=1.0" name="viewport">' + '<meta content="Essential Studio for JavaScript" name="description">' + '<meta content="Syncfusion" name="author">' + '<meta charset="utf-8">'
					var version = "";
				if (ej.browserInfo().name == "msie" && parseInt(ej.browserInfo().version) == 8){
					head = navigator.userAgent.indexOf("MSIE 8.0") > 0 ? title + ' <meta http-equiv="x-ua-compatible" content="IE=Edge">' + meta : title + meta;	
					version = "1.11.3";
				}
				else {
					head = navigator.userAgent.indexOf("MSIE 9.0") > 0 ? title + ' <meta http-equiv="x-ua-compatible" content="IE=Edge">' + meta : title + meta;				
					version = "2.1.4";
				}
                    var links = $(document.head || document.getElementsByTagName('head')[0]).find("link");
                    var serverconfig = links[0].href.substr(0, links[0].href.indexOf("Content") - 1);
                    var scriptendtag = "<" + "/" + "script" + ">";
                    var scripttag = '<script type="text/javascript" src="' + serverconfig + '/scripts/jquery-' + version + '.min.js">' + scriptendtag;
                    scripttag += '<script type="text/javascript" src="' + serverconfig + '/Scripts/ej.web.all.min.js">' + scriptendtag;
                    scripttag += '<script type="text/javascript" src="' + serverconfig + '/scripts/jquery.easing-1.3.min.js">' + scriptendtag;
                    scripttag += '<script type="text/javascript" src="' + serverconfig + '/Scripts/ZeroClipboard.js">' + scriptendtag;
                    scripttag += '<script type="text/javascript" src="' + serverconfig + '/Scripts/CopyToClipBoard.js">' + scriptendtag;
                    var linkelement = $(links).clone();
                    var linktag = "";
                    for (i = 0; i < linkelement.length; i++) {
                        linktag += $(linkelement[i]).wrap("<p>").parent().html();
                    }
                    var tabcontent = $(".sourcecodeTab").clone();
                    tabcontent.find(".newsrcwindow").remove();
                    $(tabcontent).find(".copycode").each(function () { $(this).remove(); });
                    $(tabcontent).find("ul li a").each(function () {this.href = this.href + "&&seperateWindow=true";});
                    $(tabcontent).find("script").each(function () { $(this).remove(); });
                    tabcontent = tabcontent.html();
                    var a = $("#CodeViewTab").ejTab("instance");
                    a = parseInt(a.option("selectedItemIndex"));
                    popupWin.document.writeln('<!DOCTYPE html><html><head>' + head + linktag + scripttag + '</head><body><div id="windowOpen" style="width: 97%"><div class="cols-source sourcecodetab">' + tabcontent + '</div></div><script type="text/Javascript"> initiateCopyHandler();$(function(){$("#CodeViewTab").ejTab({  selectedItemIndex:' + a + '});}); $("#CodeViewTab").bind("mouseover", "#copyclipboard", function () {$("#copytextarea").val(copytoclip.Selector.getSelected());});' + scriptendtag + '</body></html>');
                    popupWin.document.close();

                });
                if (!$("#clipboard").length) {
                    $("<textarea>").attr("style", "display:none").attr("id", "copytextarea").appendTo($("#copy-wrapper"));
                }
                if ($(window).width() < 450) {
                    $("#copyclipboard .e-btntxt").text(""); $("#newcodewindow .e-btntxt").text("");
                }
            }            

            //Copy to clipboard behavior            
            initiateCopyHandler();
            $('#CodeViewTab').bind("mouseover", '#copyclipboard', function () {
                $("#copytextarea").val(copytoclip.Selector.getSelected());
            });
        });

        $(document).ready(function () {
            $(this).find('body').css('visibility', 'visible');
        });
    </script>
</body>
</html>
