@section SampleHeading{
    <span class="sampleName">Button / Methods</span>}
@section ControlsSection{
    <div class="frame">
        <div class="control">
            <table>
                <tr>
                    <td class="btnsht">Button
                    </td>
                    <td class="btnsht">
                        @Html.EJ().Button("buttonnormal").Text("Button").Size(ButtonSize.Large).ShowRoundedCorner(true)
                    </td>
                </tr>
                <tr>
                    <td class="btnsht">Toggle Button
                    </td>
                    <td class="btnsht">
                        @Html.EJ().ToggleButton("TextOnly").Size(ButtonSize.Large).ShowRoundedCorner(true).DefaultText("Play").ActiveText("Stop")
                    </td>
                </tr>
                <tr>
                    <td class="btnsht">Split Button
                    </td>
                    <td class="splttd btnsht">
                        @Html.EJ().SplitButton("splitbuttonnormal").Text("Save").Size(ButtonSize.Large).ShowRoundedCorner(true).TargetID("menu1")
                        <ul id="menu1">
                            <li><span>Open...</span></li>
                            <li><span>Save</span></li>
                            <li><span>Delete</span></li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td class="btnsht">Dropdown Button
                    </td>
                    <td class="splttd btnsht">
                        @Html.EJ().SplitButton("dropbtnlarge").Text("Save").Size(ButtonSize.Large).ShowRoundedCorner(true).TargetID("menu2").ButtonMode(ButtonMode.Dropdown)
                        <ul id="menu2">
                            <li><span>Open...</span></li>
                            <li><span>Save</span></li>
                            <li><span>Delete</span></li>
                        </ul>
                    </td>
                </tr>
            </table>
        </div>
    </div>
}
<div id="arrowTarget">
    <ul>
        <li value="right">Right</li>
        <li value="left">Left</li>
        <li value="top">Top</li>
        <li value="bottom">Bottom</li>
    </ul>
</div>
@section PropertiesSection{
    <div class="row">
        <div class="col-md-3">
            Disable\Enable
        </div>
        <div class="col-md-3">
            @Html.EJ().ToggleButton("btnchkunchk").DefaultText("Disable").Width("119px").ActiveText("Enable").CssClass("e-togglebtn").ClientSideEvents(e => e.Change("onCheckUncheckAll"))
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">ArrowPosition</div>
        <div class="col-md-3">
            @Html.EJ().DropDownList("arrowpos").TargetID("arrowTarget").Width("120px").SelectedItemIndex(0).ClientSideEvents(e => e.Change("onArrowChange"))
        </div>
    </div>
}
@section ScriptSection{
    <script type="text/javascript">
        $(function () {
            $("#sampleProperties").ejPropertiesPanel();
        });
        var btnobject1, btnobject2, btnobject3, btnobject4;
        function onCheckUncheckAll(args) {
            btnobject1 = $("#buttonnormal").data("ejButton");
            btnobject2 = $("#TextOnly").data("ejToggleButton");
            btnobject3 = $("#splitbuttonnormal").data("ejSplitButton");
            btnobject4 = $("#dropbtnlarge").data("ejSplitButton");
            if (args.isChecked) {
                btnobject1.disable();
                btnobject2.disable();
                btnobject3.disable();
                btnobject4.disable();
            }
            else {
                btnobject1.enable();
                btnobject2.enable();
                btnobject3.enable();
                btnobject4.enable();
            }
        }
        function onArrowChange(args) {
            if (args.value == "top" || args.value == "bottom")
                $(".splttd").css("padding", "6px 0 6px 1px");
            else
                $(".splttd").css("padding", "0 0 0 1px");
            $(".e-splitbutton").ejSplitButton({ "arrowPosition": args.value });
        }
    </script>
}
@section StyleSection{
    <style>
        .frame {
            width: 50%;
        }
    </style>
}
