@section MetaTags{
   <meta name="description" content="This example demonstrates the default functionalities of the RadioButton and its various property like size, text, checked, enabled and value in a ASP.NET MVC">
}

@section SampleHeading{
    <span class="sampleName">Button-Radio Buttons-ASP.NET MVC-SYNCFUSION</span>}
@section ActionDescription{
    <div class="action-description">
    <p>
        This sample demonstrates rendering RadioButton control allows you to choose an option to perform an action. 
        This control allows you to select true/false.
    </p>
    </div>
}
@section ControlsSection{
    <div class="frame">
        <div class="control">
            <div class="radioalign">
                <br />
                Category<br />
                <br />
                <table>
                    <tr>
                        <td class="chkrad">
                            @Html.EJ().RadioButton("Radio1").Name("small").Size(RadioButtonSize.Small).Checked(true).Enabled(true).Text("Fresher").Value("Fresher")
                        </td>
                        <td class="chkrad" colspan="2">
                            @Html.EJ().RadioButton("Radio3").Name("small").Text("Experienced").Size(RadioButtonSize.Small).Checked(false).Enabled(true).Text("Experienced").Value("Experienced")
                        </td>
                    </tr>
                </table>
                <br />
                <br />
                Experienced<br />
                <br />
                <table>
                    <tr>
                        <td class="chkrad">
                            @Html.EJ().RadioButton("Radio2").Name("medium").Size(RadioButtonSize.Medium).Checked(true).Enabled(true).Text("1+ years").Value("1+ years")
                        </td>
                        <td class="chkrad">
                            @Html.EJ().RadioButton("Radio4").Name("medium").Size(RadioButtonSize.Medium).Checked(false).Enabled(true).Text("2.5+years").Value("2.5+years")
                        </td>
                        <td class="chkrad">
                            @Html.EJ().RadioButton("Radio5").Name("medium").Size(RadioButtonSize.Medium).Checked(false).Enabled(true).Text("5+years").Value("5+years")
                        </td>
                    </tr>
                </table>
                <br />
            </div>
        </div>
    </div>
}
@section StyleSection{
    <style>
        @@media (max-width: 450px) and (min-width: 0px) {
            .chkrad {
                white-space: nowrap !important;
            }

            .frame {
                width: 250px !important;
            }
        }

        .frame {
            width: 380px;
        }

        .chkrad {
            white-space: nowrap;
            display: inline-block;
            width: 125px;
        }
    </style>
}

