@section MetaTags{
   <meta name="description" content="This example demonstrates the default functionalities of the ToggleButton and its various property like size,text, showroundedcorner in a ASP.NET MVC">
}
@section SampleHeading{
    <span class="sampleName">Button-Toggle Buttons-ASP.NET MVC-SYNCFUSION</span>}
@section ControlsSection{
    <div class="frame">
        <div class="control">
            <table>
                <tr>
                    <td>Toggle button Normal
                    </td>
                    <td class="btnsht">
                        @Html.EJ().ToggleButton("check11").Size(ButtonSize.Normal).ShowRoundedCorner(true).ContentType(ContentType.ImageOnly).DefaultPrefixIcon("e-icon e-mediaplay").ActivePrefixIcon("e-icon e-medianext")
                        <label for="check11">
                            Toggle</label>
                    </td>
                </tr>
                <tr>
                    <td>Toggle button Mini
                    </td>
                    <td class="btnsht">
                        @Html.EJ().ToggleButton("check21").Size(ButtonSize.Mini).ShowRoundedCorner(true).DefaultText("Play").ActiveText("Stop")
                        <label for="check21">
                            Toggle</label>
                    </td>
                </tr>
                <tr>
                    <td>Toggle button Small
                    </td>
                    <td class="btnsht">
                        @Html.EJ().ToggleButton("check31").Size(ButtonSize.Small).ShowRoundedCorner(true).DefaultText("Play").ActiveText("Stop")
                        <label for="check31">
                            Toggle</label>
                    </td>
                </tr>
                <tr>
                    <td>Toggle button Medium
                    </td>
                    <td class="btnsht">
                        @Html.EJ().ToggleButton("check41").Size(ButtonSize.Medium).ShowRoundedCorner(true).DefaultText("Play").ActiveText("Stop")
                        <label for="check41">
                            Toggle</label>
                    </td>
                </tr>
                <tr>
                    <td>Toggle button Large
                    </td>
                    <td class="btnsht">
                        @Html.EJ().ToggleButton("check51").Size(ButtonSize.Large).ShowRoundedCorner(true).ContentType(ContentType.TextAndImage).DefaultText("Play").ActiveText("Stop").DefaultPrefixIcon("e-icon e-mediaplay").ActivePrefixIcon("e-icon e-medianext")
                        <label for="check51">
                            Toggle</label>
                    </td>
                </tr>
            </table>
        </div>
    </div>
}
@section StyleSection{
    <style>
        .frame {
            width: 35%;
        }
    </style>
}

