@section SampleHeading{<span class="sampleName">ColorPicker/Presets</span> }
@section ControlsSection{
                   <div class="frame">
                    <div class="control">
                        <div class="presets-col">
                            <span>Basic</span>
                            @Html.EJ().ColorPicker("baiscPreset").DisplayInline(true).TagName("div").ModelType(ModelType.Palette).PresetType(PresetsType.Basic).Value("#9494c8")
                        </div>
                        <div class="presets-col">
                            <span>Mono Chrome</span>
                            @Html.EJ().ColorPicker("monoChromePreset").DisplayInline(true).TagName("div").ModelType(ModelType.Palette).PresetType(PresetsType.MonoChrome).Value("#8e8e8e")
                        </div>
                        <div class="presets-col">
                            <span>Flat Colors</span>
                            @Html.EJ().ColorPicker("flatColorsPreset").DisplayInline(true).TagName("div").ModelType(ModelType.Palette).PresetType(PresetsType.FlatColors).Value("#f79853")
                        </div>
                        <div class="presets-col">
                            <span>Sea Wolf</span>
                            @Html.EJ().ColorPicker("seaWolfPreset").DisplayInline(true).TagName("div").ModelType(ModelType.Palette).PresetType(PresetsType.SeaWolf).Value("#13647F")
                        </div>
                        <div class="presets-col">
                            <span>Web Colors</span>
                            @Html.EJ().ColorPicker("webColorsPreset").DisplayInline(true).TagName("div").ModelType(ModelType.Palette).PresetType(PresetsType.WebColors).Value("#E7C36F")
                        </div>
                        <div class="presets-col">
                            <span>Sandy</span>
                            @Html.EJ().ColorPicker("sandyPreset").DisplayInline(true).TagName("div").ModelType(ModelType.Palette).PresetType(PresetsType.Sandy).Value("#EFECCA")
                        </div>
                        <div class="presets-col">
                            <span>Pink Shades</span>
                            @Html.EJ().ColorPicker("pinkShadesPreset").DisplayInline(true).TagName("div").ModelType(ModelType.Palette).PresetType(PresetsType.PinkShades).Value("#996072")
                        </div>
                        <div class="presets-col">
                            <span>Misty</span>
                            @Html.EJ().ColorPicker("mistyPreset").DisplayInline(true).TagName("div").ModelType(ModelType.Palette).PresetType(PresetsType.Misty).Value("#0A0D0C")
                        </div>
                        <div class="presets-col">
                            <span>Citrus</span>
                            @Html.EJ().ColorPicker("citrusPreset").DisplayInline(true).TagName("div").ModelType(ModelType.Palette).PresetType(PresetsType.Citrus).Value("#F29727")
                        </div>
                        <div class="presets-col">
                            <span>Vintage</span>
                            @Html.EJ().ColorPicker("vintagePreset").DisplayInline(true).TagName("div").ModelType(ModelType.Palette).PresetType(PresetsType.Vintage).Value("#557359")
                        </div>
                        <div class="presets-col">
                            <span>Moon Light</span>
                            @Html.EJ().ColorPicker("moonLightPreset").DisplayInline(true).TagName("div").ModelType(ModelType.Palette).PresetType(PresetsType.MoonLight).Value("#383A47")
                        </div>
                        <div class="presets-col">
                            <span>Candy Crush</span>
                            @Html.EJ().ColorPicker("candyCrushPreset").DisplayInline(true).TagName("div").ModelType(ModelType.Palette).PresetType(PresetsType.CandyCrush).Value("#97cacb")
                        </div>
                    </div>
                </div>
          }

@section StyleSection{
    <style>
        .presets-col {
            margin-bottom: 25px;
            display: inline-block;
            margin-right: 35px;
        }

        .frame {
            width: auto;
            border: 0px;
            padding-left: 30px;
        }
    </style>
}
