@using Syncfusion.JavaScript
@using Syncfusion.MVC.EJ

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Essential JS 1 | ASP.NET MVC |Showcase Sample | Health Tracker</title>
    <link href="@Url.Content("~/favicon.ico")" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
	<meta name="description" content="The ASP.NET MVC Health Tracker application is used to track and visualize your health details such as food intake and activity history by using Grids, Charts, etc.">
    <link href="@Url.Content("~/Content/ejthemes/default-theme/bootstrap.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/ejthemes/default-theme/ej.web.all.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/ejthemes/responsive-css/ej.responsive.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/ejthemes/responsive-css/ejgrid.responsive.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/health-tracker/healthtracker.css")" rel="stylesheet" />
    <!--[if lt IE 9]>
    <script src="@Url.Content("~/Scripts/jquery-1.11.3.min.js")"></script>
    <![endif]-->
    <!--[if gte IE 9]><!-->
    <script src="@Url.Content("~/Scripts/jquery-3.0.0.min.js")"></script>
    <!--<![endif]-->
    <script src="@Url.Content("~/Scripts/jquery.globalize.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jsrender.min.js")" type="text/javascript"></script>
   
    <script src="@Url.Content("~/Scripts/ej.web.all.min.js")" type="text/javascript"></script>
</head>
<body>
    @RenderBody()

    @(Html.EJ().ScriptManager())
    @if (IsSectionDefined("ControlsSection"))
    {
        @RenderSection("ControlsSection", required: false)
    }
    @RenderSection("Scripts", required: false)
</body>
</html>
