@using Syncfusion.JavaScript
@using Syncfusion.JavaScript.DataVisualization
@using Syncfusion.MVC.EJ
@using MVCSampleBrowser.Areas.AirlineReservation.Models
@using MVCSampleBrowser.Models
@{
    Layout = "~/Areas/AirlineReservation/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "Essential Studio for ASP.NET MVC : Airline Reservation";
}
<script src="@Url.Content("~/Scripts/AirLineReservation/Sample.js")"></script>

<div class="header">
    <h1>AIRLINE RESERVATION</h1>
</div>

<div class="sampleContainer">
    <table class="sampleOuterTable" cellspacing="15">
        <tr>
            <td></td>
            <td style="text-align: right; height: 40px;">
                <input type="button" id="btnOpenPopup" class="bookNow" style="float: right; display: none;" value="Book Now" />
                <div style="height: 10px; width: 100%;"></div>
            </td>
        </tr>
        <tr>
            <td id="Property_space" style="width: 325px;">
                <div style="padding-bottom: 85px;">
                    <div class="userInteractionDiv">
                        <table class="userInteractionTable">
                            <tr>
                                <td>
                                    <label>Travel Type</label><br />
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <div class="travelTypeDiv">
                                        <table>
                                            <tr>
                                                <td style="width: 80%;">
                                                    <label id="travelType"></label>
                                                </td>
                                                <td>
                                                    @Html.EJ().ToggleButton("btnOneWay").Size(ButtonSize.Normal).ContentType(ContentType.ImageOnly).DefaultPrefixIcon("e-icon").ClientSideEvents(e => e.Change("btnOneWayChange"))
                                                    @Html.EJ().ToggleButton("btnRoundTrip").Size(ButtonSize.Normal).ContentType(ContentType.ImageOnly).DefaultPrefixIcon("e-icon").ClientSideEvents(e => e.Change("btnRoundTripChange"))
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>Adult</label>
                                </td>
                                <td>
                                    <label>Child</label>
                                </td>
                            </tr>
                            <tr>
                                <td style="width: 100px">
                                    <div>
                                        <input type="button" id="adultDecrement" value="-" class="iconButton" />
                                        <input type="text" value="3" id="adultCount" onkeypress="return isNumber(event)" class="countBox" />
                                        <input type="button" id="adultIncrement" value="+" class="iconButton" />
                                    </div>
                                </td>
                                <td style="width: 100px">
                                    <div>
                                        <input type="button" id="childDecrement" value="-" class="iconButton" />
                                        <input type="text" value="2" id="childCount" onkeypress="return isNumber(event)" class="countBox" />
                                        <input type="button" id="childIncrement" value="+" class="iconButton" />
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>Leaving From</td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    @Html.EJ().Autocomplete("fromCityName").Datasource((IEnumerable<object>)ViewBag.cityList).Width("205").EnableAutoFill()
                                </td>
                            </tr>
                            <tr>
                                <td>Going To</td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    @Html.EJ().Autocomplete("toCityName").Datasource((IEnumerable<object>)ViewBag.cityList).Width("205").EnableAutoFill()
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>Departure</label>
                                </td>
                                <td>
                                    <label>Return</label>
                                </td>
                            </tr>
                            <tr>
                                @{
                                    String date = DateTime.Today.Date.ToString("MM/dd/yyyy").Replace('-', '/');
                                <td>
                                    @Html.EJ().DatePicker("depatureDatePicker").Value(date)
                                </td>
                                <td>
                                    @Html.EJ().DatePicker("returnDatePicker").Value(date)
                                </td>
                                }
                            </tr>
                            <tr>
                                <td style="height: 10px;"></td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    @(Html.EJ().Button("btnSearchFlight")
                                        .Text("SEARCH FOR FLIGHT")
                                        .ShowRoundedCorner()
                                        .ClientSideEvents(e => { e.Click("btnSearchClick"); })
                                    )
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="sliderDiv">
                        <table class="slideTable">
                            <tr>
                                <td>
                                    <label>Price Range</label>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    @(Html.EJ().Slider("priceRangeSlider")
                                        .SliderType(SlideType.Range)
                                        .Values("0,100")
                                        .Height("8px")
                                        .ClientSideEvents(e =>
                                        {
                                            e.Slide("onPriceRangeSlide");
                                            e.Start("onPriceRangeStart");
                                            e.Create("onPriceRangecreate");
                                            e.Change("onPriceRangechange");
                                        })
                                    )
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div>
                                        <table>
                                            <tr>
                                                <td>
                                                    <span id="minPrice"></span>
                                                </td>
                                                <td>
                                                    <span class="maxPriceSpan" style="margin-left: 201px;" id="maxPrice"></span>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>Departure Time</label><br />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    @(Html.EJ().Slider("timeRangeSlider")
                                        .SliderType(SlideType.Range)
                                        .Values("0,100")
                                        .Height("8px")
                                        .ClientSideEvents(e =>
                                        {
                                            e.Slide("onTimeRangeSlide");
                                            e.Start("onTimeRangeStart");
                                            e.Create("onTimeRangecreate");
                                            e.Change("onTimeRangechange");
                                        })
                                    )
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div>
                                        <table>
                                            <tr>
                                                <td>
                                                    <span id="minTime"></span>
                                                </td>
                                                <td>
                                                    <span style="margin-left: 212px;" id="maxTime"></span>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </td>
            <td id="gid_space" colspan="2" style="vertical-align: top;">
                @(Html.EJ().Grid<AirLineDetails>("FlightTicketBooking")
                              .Datasource((IEnumerable<object>)ViewBag.datasource)
                              .AllowPaging()
                              .AllowSorting()
                              .Columns(column =>
                              {

                                  column.Field("Airline").HeaderText("Airline").Width(30).Add();
                                  column.Field("From").HeaderText("From").Width(30).Add();
                                  column.Field("To").HeaderText("To").Width(30).Add();
                                  column.Field("Depart").HeaderText("Depart").Width(30).Add();
                                  column.Field("Arrive").HeaderText("Arrive").Width(30).Add();
                                  column.Field("Price").HeaderText("Price").Width(30).Add();
                                  column.Field("Rating").HeaderText("Rating").Width(30).Add();
                              })
                              .ClientSideEvents(e =>
                              {
                                  e.RecordClick("recordClick");
                                  e.ActionComplete("actionComplete");
                                  e.ActionBegin("actionBegin");
                                  e.Load("load");
                              })
                )
            </td>
        </tr>
    </table>
    <div id="footer">
                <div class="bottom-links">
                    <div class="left">
                        <div class="sync-text">
                            Copyright © 2001-2021 Syncfusion Inc.
                        </div>
                    </div>
                    <div class="right">
                        <a href="https://www.syncfusion.com">
                            <div class="syncfusion-image"></div>
                        </a>
                    </div>
                </div>
            </div>
</div>

@{Html.EJ().Dialog("diagramView").ContentTemplate(@<div>
                        <div id="backIcon" onclick="backButtonClick()"></div>
                        <div id="popupContent">
                            <table class="countIconTable">
                                <tr>
                                    <td colspan="2" style="height: 15%;"></td>
                                </tr>
                                <tr>
                                    <td id="ResItemBox" class="countIconColumn">
                                        <div style="font-size: 12px;">
                                            Select your seat by dragging the passenger icon to any available seat.
                                        </div>
                                        <br />
                                        <div>
                                            <span id="adultCountDisplay"></span>
                                            <div class="iconDiv">
                                                <div id="adultIconDisplay">
                                                </div>
                                            </div>
                                        </div>
                                        <br />
                                        <div>
                                            <span id="childCountDisplay"></span>
                                            <div class="iconDiv">
                                                <div id="childIconDisplay">
                                                </div>
                                            </div>
                                        </div>

                                    </td>
                                    <td id="DiagramArea">
                                        @Html.EJ().Diagram("diagramContent", ViewData["diagramDataSource"] as Syncfusion.JavaScript.DataVisualization.Models.DiagramProperties)
                                    </td>
                                </tr>
                                <tr>
                                    <td style="height: 18px;"></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td>
                                        <input type="button" id="btnBookNow" value="Book Now" class="bookNow" style="margin-left: 525px;" />
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div id="bg_mask">
                            <div id="frontlayer">
                                <span style="font-size: 17px">Your booking has been confirmed. </span>
                                <br />
                                <br />
                                <span style="font-size: 17px">Thanks for choosing our service</span><br />
                                <br />
                                <span style="color: #22BAF1; font-size: 22px;">Have a Great journey !</span><br />
                                <br />

                                <div>
                                    <table>
                                        <tr>
                                            <td>Rate this App</td>
                                            <td>
                                                @Html.EJ().Rating("airlineRating").Value(3)
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>).Width(1000).Height("530").EnableModal(true).EnableResize(true).ShowOnInit(false).ClientSideEvents(e => e.Close("onDialogClose")).Render();}
