@section SampleHeading{ <span class="sampleName">Diagram-Events-ASP.NET MVC-SYNCFUSION</span>}
@section MetaTags{
    <meta name="description" content="This sample demonstrates the ASP.NET MVC diagram’s available client-side events and when it will be triggered while editing in the diagram.">
}
<style>
    .control_section {
        height: 600px;
        width: 100%;
    }

    .diagram_section {
        width: 710px;
        height: 100%;
        float: left;
    }

    .middle_section {
        float: left;
        width: 5px;
        height: 100%;
    }

    .symPalette_section {
        width: 250px;
        height: 100%;
        float: left;
    }
</style>
<div id="dropTarget">
    <ul>
        <li value="selectionChange">Selection Change</li>
        <li value="sizeChange">Size Change</li>
        <li value="connectorCollectionChange">Connector Collection Change</li>
        <li value="nodeCollectionChange">Node Collection Change</li>
        <li value="textChange">Text Change</li>
        <li value="segmentChange ">Segment Change </li>
        <li value="rotationChange ">Rotation Change </li>
        <li value="connectorTargetChange">Connector Target Change  </li>
        <li value="connectorSourceChange">Connector Source Change </li>
        <li value="scrollChange">Scroll Change  </li>
        <li value="doubleClick">Double Click</li>
        <li value="dragEnter">Drag Enter</li>
        <li value="dragOver">Drag Over</li>
        <li value="dragLeave">Drag Leave</li>
        <li value="drag">Drag</li>
        <li value="drop">Drop</li>
        <li value="groupChange">Group Change</li>
        <li value="historyChange">History Change</li>
        <li value="click">Click</li>
        <li value="connectionChange">Connection Change</li>
        <li value="contextMenuBeforeOpen">Context Menu Before Open</li>
        <li value="contextMenuClick">Context Menu Click</li>
        <li value="propertyChange">Property Change</li>
        <li value="mouseOver">Mouse Over</li>
        <li value="mouseEnter">Mouse Enter</li>
        <li value="mouseLeave">Mouse Leave</li>
    </ul>
</div>
@section EventsDropdown{

    @Html.EJ().DropDownList("selectControls_input").TargetID("dropTarget").Width("160px").ShowCheckbox(true).ClientSideEvents(dropEvt => dropEvt.Change("evtpropscheckedevent")).MinPopupHeight("300px").SelectedIndices(new List<int>() {0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21})

}
@section ScriptSection{
    
    <script src="@Url.Content("~/Scripts/DiagramScripts/DiagramCommon.js")"></script>
    <script src="@Url.Content("~/Scripts/DiagramScripts/eventlog.js")"></script>
    <script type="text/javascript">
        $(window).on("load", function () {
            onClear();
        });
    </script>

}
@section ControlsSection{
<div class="control_section">
    <div class="symPalette_section">
        @Html.EJ().SymbolPalette("SymbolPalette", ViewData["SymbolPaletteModel"] as Syncfusion.JavaScript.DataVisualization.Models.SymbolPaletteProperties)
    </div>
    <div class="middle_section"></div>
    <div class="diagram_section">
        @Html.EJ().Diagram("DiagramContent", ViewData["DiagramModel"] as Syncfusion.JavaScript.DataVisualization.Models.DiagramProperties)
    </div>
    </div>
}
<script src="@Url.Content("~/Scripts/DiagramScripts/DiagramCommon.js")"></script>

<style>
    .svg-rotate-ie:hover {
        cursor: url("../../Content/ejthemes/common-images/diagram/Rotate.cur"),default;
    }

    .svg-rotate {
        cursor: url("../../Content/ejthemes/common-images/diagram/Rotate.cur"),default;
    }

    .control_section {
            height: 600px;
            width: 100%;
            background-color: transparent;
        }

        .diagram_section {
            width: calc(100% - 255px);
            height: 100%;
            float: left;
        }

        .middle_section {
            float: left;
            width: 5px;
            height: 100%;
        }

        .symPalette_section {
            width: 250px;
            height: 100%;
            float: left;
        }
</style>

