@section SampleHeading{ <span class="sampleName">Diagram / MultipleParent</span>}


@section ControlsSection{
    <div>
        @Html.EJ().Diagram("MultipleParent", ViewData["diagramModel"] as Syncfusion.JavaScript.DataVisualization.Models.DiagramProperties)
    </div>
}
@section PropertiesSection{
    <div id="sampleProperties1">
    <div class="prop-grid">
        <div class="row">
            <div class="col-md-6 aligntop">
                <b>Layout Settings</b>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 aligntop" style="margin-right: -25px;">
                Orientation
            </div>
            <div class="col-md-6">
                @Html.EJ().DropDownList("orientation").TargetID("orientationList").Width("130px").WatermarkText("Select Orientation").Text("Top-Bottom").ClientSideEvents(c => c.Change("orientationChange"))
                <div id="orientationList">
                    <ul>
                        <li value="toptobottom">Top-Bottom</li>
                        <li value="lefttoright">Left-Right</li>
                        <li value="righttoleft">Right-Left</li>
                        <li value="bottomtotop">Bottom-Top</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 aligntop" style="margin-right: -25px;">
                Margin X
            </div>
            <div class="col-md-6">
                @Html.EJ().NumericTextbox("marginX").Width("130px").WatermarkText("Margin X").Value(0).MinValue(-30).MaxValue(10000).ClientSideEvents(s => s.Change("marginXChange"))
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 aligntop" style="margin-right: -25px;">
                Margin Y
            </div>
            <div class="col-md-6">
                @Html.EJ().NumericTextbox("marginY").Width("130px").WatermarkText("Margin Y").Value(0).MinValue(0).MaxValue(10000).ClientSideEvents(s => s.Change("marginYChange"))
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 aligntop" style="margin-right: -25px;">
                <b>Spacing</b>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 aligntop" style="margin-right: -25px;">
                Horizontal
            </div>
            <div class="col-md-6">
                @Html.EJ().NumericTextbox("horizontalSpacing").Width("130px").WatermarkText("Horizontal Spacing").Value(40).MinValue(1).MaxValue(10000).ClientSideEvents(s => s.Change("horizontalChange"))
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 aligntop" style="margin-right: -25px;">
                Vertical
            </div>
            <div class="col-md-6">
                @Html.EJ().NumericTextbox("verticalSpacing").Width("130px").WatermarkText("Vertical Spacing").Value(40).MinValue(1).MaxValue(10000).ClientSideEvents(s => s.Change("verticalChange"))
            </div>
        </div>
    </div>
</div>
}

@section ScriptSection{
    <script type="text/javascript">

        $("#sampleProperties").ejPropertiesPanel();
         
        function orientationChange(args) {
            $("#MultipleParent").ejDiagram({
                layout: {
                    orientation: args.value
                }
            });
            $("#MultipleParent").ejDiagram("instance").fitToPage();
        }
       
        function horizontalChange(args) {
            $("#MultipleParent").ejDiagram({
                layout: {
                    horizontalSpacing: args.value
                }
            });
        }

        function verticalChange(args) {
            $("#MultipleParent").ejDiagram({
                layout: {
                    verticalSpacing: args.value
                }
            });
        }

        function marginXChange(args) {
            $("#MultipleParent").ejDiagram({
                layout: {
                    marginX: args.value
                }
            });
        }

        function marginYChange(args) {
            $("#MultipleParent").ejDiagram({
                layout: {
                    marginY: args.value
                }
            });
        }
        function diagramCreate() {
            $("#MultipleParent").ejDiagram("instance").fitToPage();
        }

    </script>
    <script src="@Url.Content("~/Scripts/DiagramScripts/DiagramCommon.js")"></script>
}

