@section SampleHeading{ <span class="sampleName">Diagram-Symmetric Layout-ASP.NET MVC-SYNCFUSION</span>}
@section MetaTags{
    <meta name="description" content="This sample visualizes a swimlane diagram of online purchase status and its designed with ASP.NET MVC diagram's built-in swimlane shapes.">
}	
<style>
    #resizeBorder {
        stroke: black;
        stroke-width: 3px;
        stroke-dasharray: none;
        opacity: 1;
    }

    #nw-resize, #n-resize, #ne-resize, #w-resize, #e-resize, #sw-resize, #s-resize, #se-resize {
        fill: none;
        stroke: transparent;
    }
</style>

@section ControlsSection{
    <div>
        @Html.EJ().Diagram("HierarchicalLayout", ViewData["diagramModel"] as Syncfusion.JavaScript.DataVisualization.Models.DiagramProperties)
    </div>
}
@section PropertiesSection{
    <div id="Propertiespanel">
        <div>
            <div class="row">
                <div class="col-md-6 aligntop">
                    <b>Layout Settings</b>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 aligntop" style="margin-right: -25px;">
                    Spring Length
                </div>
                <div class="col-md-6">
                    @Html.EJ().NumericTextbox("springlength").Width("100px").WatermarkText("Margin X").Value(80).MinValue(1).MaxValue(10000).ClientSideEvents(s => s.Change(""))
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 aligntop" style="margin-right: -25px;">
                    Spring Factor
                </div>
                <div class="col-md-6">
                    @Html.EJ().NumericTextbox("springfactor").Width("100px").WatermarkText("Margin X").DecimalPlaces(1).IncrementStep(.1).Value(0.8).MinValue(0.1).MaxValue(.1).MaxValue(3).ClientSideEvents(s => s.Change(""))
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 aligntop" style="margin-right: -25px;">
                    Maximum Iteration
                </div>
                <div class="col-md-6">
                    @Html.EJ().NumericTextbox("maximumiteration").Width("100px").WatermarkText("Margin X").Value(500).MinValue(1).MaxValue(1000).ClientSideEvents(s => s.Change(""))
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 aligntop" style="margin-right: -25px;">
                    Margin X
                </div>
                <div class="col-md-6">
                    @Html.EJ().NumericTextbox("marginX").Width("100px").WatermarkText("Margin X").Value(0).MinValue(-160).MaxValue(10000).ClientSideEvents(s => s.Change(""))
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 aligntop" style="margin-right: -25px;">
                    Margin Y
                </div>
                <div class="col-md-6">
                    @Html.EJ().NumericTextbox("marginY").Width("100px").WatermarkText("Margin Y").Value(20).MinValue(-160).MaxValue(10000).ClientSideEvents(s => s.Change(""))
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 aligntop" style="margin-right: -25px;">
                </div>
                <div class="col-md-6"> 
                    @Html.EJ().Button("button").Text("Login").Size(ButtonSize.Normal).ShowRoundedCorner(true).ClientSideEvents(s => s.Click("doLayout"))
                </div>
            </div>
        </div>
    </div>

}

@section ScriptSection{
    <script type="text/javascript">

        $("#sampleProperties").ejPropertiesPanel();

        function doLayout() {
            var diagram = $("#HierarchicalLayout").ejDiagram("instance");
            diagram.model.layout.marginX = $("#marginX").ejNumericTextbox("instance").model.value
            diagram.model.layout.marginY = $("#marginY").ejNumericTextbox("instance").model.value
            diagram.model.layout.maxIteration = $("#maximumiteration").ejNumericTextbox("instance").model.value
            diagram.model.layout.springFactor = $("#springfactor").ejNumericTextbox("instance").model.value
            diagram.model.layout.springLength = $("#springlength").ejNumericTextbox("instance").model.value
            diagram.layout();
        }

    </script>
    <script src="@Url.Content("~/Scripts/DiagramScripts/DiagramCommon.js")"></script>
}

