@section SampleHeading{<span class="sampleName">Rotator-Default Functionalities-ASP.NET MVC-SYNCFUSION</span>}
@section MetaTags{
   <meta name="description" content="This example demonstrates how to create a Syncfusion ASP.NET MVC Rotator component where each slide contains images.">
}
@section ActionDescription{
    <div class="action-description">
    <p>
        This sample demonstrates rendering Rotator control displays a set of slides. Each slide may contain images or images with content, or content with user-defined transition between them. 
        It supports Data Binding, Thumbnail, Pager, dynamic number of slide move options, and all custom animations. It supports all types of image formats (JPEG, GIF, and so on).
    </p>
    </div>
}
@section ControlsSection{
    <div class="frame">
        @{Html.EJ().Rotator("content").Items(itemElement =>
                       {
                           itemElement.Add().ContentTemplate(@<div>
                                <img class="image" src="@Url.Content("~/Images/rotator/nature.jpg")" alt="Nature"/></div>);
                           itemElement.Add().ContentTemplate(@<div>
                                <img class="image" src="@Url.Content("~/Images/rotator/bird.jpg" )" alt="Bird"/></div>);
                           itemElement.Add().ContentTemplate(@<div>
                                <img class="image" src="@Url.Content("~/Images/rotator/sculpture.jpg")" alt="Sculpture"/></div>);
                           itemElement.Add().ContentTemplate(@<div>
                                <img class="image" src="@Url.Content("~/Images/rotator/seaview.jpg")" alt="SeaView"/></div>);
                           itemElement.Add().ContentTemplate(@<div>
                                <img class="image" src="@Url.Content("~/Images/rotator/snowfall.jpg")" alt="SnowFall"/></div>);
                       }).SlideWidth("100%").SlideHeight("350px").IsResponsive(true).ShowPlayButton(true).Render();}

    </div>
}
@section StyleSection{
    <style type="text/css" class="cssStyles">
        .frame {
            width: 100%;
            box-sizing: border-box;
        }

        #content > li .image {
            width: 100%;
            height: 350px;
        }
    </style>
}

