@section SampleHeading{<span class="sampleName">Rotator / ImageWithContent</span> }
@section ControlsSection{
    <div class="frame">
        @{Html.EJ().Rotator("sliderContent").Items(itemElement =>
                       {
                           itemElement.Add().ContentTemplate(@<div>
                               <div class="leftPanel">
                                   <img src="@Url.Content("~/Images/rotator/tablet.jpg")" />
                               </div>
                               <div class="rightPanel blck">
                                   <div class="contentPanel">Tablet </div>
                                   <ul>
                                       <li>A tablet computer, or simply tablet, is a mobile computer with display, circuitry and battery in a single unit.</li>
                                       <li>
                                       Tablets are equipped with sensors, including cameras, microphone, accelerometer and touchscreen,
                                   </ul>
                               </div>
                           </div>);
                           itemElement.Add().ContentTemplate(@<div>
                               <div class="leftPanel">
                                   <img src="@Url.Content("~/Images/rotator/rose.jpg")" />
                               </div>
                               <div class="rightPanel">
                                   <div class="contentPanel">Rose </div>
                                   <ul>
                                       <li>A rose is a woody perennial of the genus Rosa, within the family Rosaceae</li>
                                       <li>Flowers vary in size and shape and are usually large and showy,
                    There are over 100 species
                                       </li>
                                   </ul>
                               </div>
                           </div>);
                           itemElement.Add().ContentTemplate(@<div>
                               <div class="leftPanel">
                                   <img src="@Url.Content("~/Images/rotator/snowfall.jpg")" />
                               </div>
                               <div class="rightPanel rightSide">
                                   <div class="contentPanel">Snowfall </div>
                                   <ul>
                                       <li>Mt. Baker ski area in Washington State has the world record for snowfall at 1,140 inches of snow in the 1998/1999 winter season</li>
                                       <li>Mt. Baker ski area is located near but not on the real 10,781’ Mount Baker</li>
                                   </ul>
                               </div>
                           </div>);
                           itemElement.Add().ContentTemplate(@<div>
                               <div class="leftPanel">
                                   <img src="@Url.Content("~/Images/rotator/nature.jpg")" />
                               </div>
                               <div class="rightPanel">
                                   <div class="contentPanel">Nature </div>
                                   <ul>
                                       <li>The health of the natural environment is critical to the long-term future of the planet</li>
                                       <li>Nature, in the broadest sense, is equivalent to the natural, physical, or material world or universe.</li>

                                   </ul>
                               </div>
                           </div>);
                           itemElement.Add().ContentTemplate(@<div>
                               <div class="leftPanel">
                                   <img src="@Url.Content("~/Images/rotator/card.jpg")" />
                               </div>
                               <div class="rightPanel credit">
                                   <div class="contentPanel">Credit card </div>
                                   <ul>
                                       <li>A credit card is a payment card issued to users as a system of payment</li>
                                       <li>It allows the cardholder to pay for goods and services based on the holder's promise to pay for them</li>

                                   </ul>
                               </div>
                           </div>);
                       }).SlideWidth("100%").IsResponsive(true).SlideHeight("300px").ShowPlayButton(true).Render();}

    </div>
}
@section StyleSection{
    <link href="@Url.Content("~/Content/Samples/RotatorImgWithContent.css")" rel="stylesheet" />
}

