@section SampleHeading{
    <span class="sampleName">Toolbar / Methods</span>}
@section ControlsSection{
    <div class="frame">
        <div class="control">
            @Html.EJ().Toolbar("toolbarMethods").Items(s =>
                          {
                              s.Add().Id("Left").SpriteCssClass("LeftAlign_tool").TooltipText("Left");
                              s.Add().Id("Center").SpriteCssClass("CenterAlign_tool").TooltipText("Center");
                              s.Add().Id("Right").SpriteCssClass("RightAlign_tool").TooltipText("Right");
                              s.Add().Id("Justify").SpriteCssClass("Justify_tool").TooltipText("Justify");
                          }).Items(s1 =>
                              {
                                  s1.Add().Id("Bold").SpriteCssClass("Bold_tool").TooltipText("Bold");
                                  s1.Add().Id("Italic").SpriteCssClass("Italic_tool").TooltipText("Italic");
                                  s1.Add().Id("StrikeThrough").SpriteCssClass("StrikeThrough_tool").TooltipText("Strike Through");
                                  s1.Add().Id("Underline").SpriteCssClass("Underline_tool").TooltipText("UnderLine");
                              }).Width("100%")
        </div>
    </div>
}
@section PropertiesSection{
    <div class="row">
        <div class="col-md-3">
            Select Item By ID
        </div>
        <div class="col-md-3">
            @Html.EJ().DropDownList("optSelectId").Datasource((IEnumerable<ToolbarMethods>)ViewBag.datasource).DropDownListFields(df => df.Text("text").Value("value")).Width("100").SelectedItemIndex(0).ClientSideEvents(e => e.Change("onSelectChange"))
        </div>
        <div class="col-md-3">
            Deselect Item By ID
        </div>
        <div class="col-md-3">
            @Html.EJ().DropDownList("optDeselectId").Datasource((IEnumerable<ToolbarMethods>)ViewBag.datasource).DropDownListFields(df => df.Text("text").Value("value")).Width("100").SelectedItemIndex(0).ClientSideEvents(e => e.Change("onDeselectChange"))
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            Disable Item By ID
        </div>
        <div class="col-md-3">
            @Html.EJ().DropDownList("optDisableId").Datasource((IEnumerable<ToolbarMethods>)ViewBag.datasource).DropDownListFields(df => df.Text("text").Value("value")).Width("100").SelectedItemIndex(0).ClientSideEvents(e => e.Change("onDisableChange"))
        </div>
        <div class="col-md-3">
            Enable Item By ID
        </div>
        <div class="col-md-3">
            @Html.EJ().DropDownList("optEnableId").Datasource((IEnumerable<ToolbarMethods>)ViewBag.datasource).DropDownListFields(df => df.Text("text").Value("value")).Width("100").SelectedItemIndex(0).ClientSideEvents(e => e.Change("onEnableChange"))
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            Disable/Enable All
        </div>
        <div class="col-md-3">
            @Html.EJ().ToggleButton("enabledisable").Width("100px").DefaultText("Disable").ActiveText("Enable").ClientSideEvents(e => e.Change("onEnableDisableAll"))
        </div>
        <div class="col-md-3">
            Show/Hide
        </div>
        <div class="col-md-3">
            @Html.EJ().ToggleButton("showhide").Width("100px").DefaultText("Hide").ActiveText("Show").ClientSideEvents(e => e.Change("onShowHide"))
        </div>
    </div>
}
@section ScriptSection{
    <script type="text/javascript">
        $(function () {
            $("#sampleProperties").ejPropertiesPanel();
        });
        var toolbar1;
        function onSelectChange(args) {
            toolbar1 = $("#toolbarMethods").data("ejToolbar");
            toolbar1.selectItemByID(args.value);
        }
        function onDeselectChange(args) {
            toolbar1 = $("#toolbarMethods").data("ejToolbar");
            toolbar1.deselectItemByID(args.value);
        }
        function onDisableChange(args) {
            toolbar1 = $("#toolbarMethods").data("ejToolbar");
            toolbar1.disableItemByID(args.value);
        }
        function onEnableChange(args) {
            toolbar1 = $("#toolbarMethods").data("ejToolbar");
            toolbar1.enableItemByID(args.value);
        }

        function onEnableDisableAll(args) {
            toolbar1 = $("#toolbarMethods").data("ejToolbar");
            if (args.isChecked)

                toolbar1.disable();
            else
                toolbar1.enable();
            $("#optDisableId").data('ejDropDownList').option('selectedItemIndex', 0);
            $("#optEnableId").data('ejDropDownList').option('selectedItemIndex', 0);
        }
        function onShowHide(args) {
            toolbar1 = $("#toolbarMethods").data("ejToolbar");
            if (args.isChecked)
                toolbar1.hide();
            else
                toolbar1.show();
        }
    </script>
}
@section StyleSection{
    <link href="@Url.Content("~/Content/Samples/ToolbarDefault.css")" rel="stylesheet" />
    <style type="text/css" class="cssStyles">
        ._button {
            width: 90px;
        }
		.material .frame{
			width: 460px;
		}
        .frame {
            width: 35%;
        }
		
    </style>
}
