@section SampleHeading{
    <span class="sampleName">ListBox-Methods-ASP.NET MVC-SYNCFUSION</span>}
@section MetaTags{
   <meta name="description" content="This example demonstrates how to enable or disable, add or remove, and select or unselect the Syncfusion ASP.NET MVC ListBox component items.">
}
@section ControlsSection{
    <div class="control frame">
        <div class="ctrllabel">
            Select a skill
        </div>
        @Html.EJ().ListBox("SkillSelect").Datasource((IEnumerable<Languages>)ViewBag.datasource).ListBoxFields(df => df.Text("text").Value("text")).AllowMultiSelection(true).ClientSideEvents(evt => evt.Create("setheight"))
    </div>
}
@section PropertiesSection{
    <div class="row">
        <div class="col-md-3">Enable/Disable All</div>
        <div class="col-md-3">
            @Html.EJ().ToggleButton("togbtn").Width("105px").DefaultText("Disable").ActiveText("Enable").ClientSideEvents(s => s.Click("onEnableDiasableAll"))
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">Remove Item</div>
        <div class="col-md-3">
            @Html.EJ().Button("removebtn").Width("107px").Text("Remove Item").ClientSideEvents(evt => evt.Click("remove"))
        </div>
    </div>

    <div class="row">
        <div class="col-md-3">
            <input id="additem" style="width: 95px" class="ejinputtext" type="text" value="Java" />
        </div>
        <div class="col-md-3">
            @Html.EJ().Button("addbtn").Width("107px").Text("Add Item").ClientSideEvents(evt => evt.Click("add"))
        </div>
    </div>



    <div class="row">
        <div class="col-md-3">
            <input id="selects" style="width: 95px" class="ejinputtext" type="text" value="3,4" />
        </div>
        <div class="col-md-3">
            @Html.EJ().Button("selectitems").Width("107px").Text("Select Items by Indices").ClientSideEvents(evt => evt.Click("selects"))
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-3">
            <input id="unselects" style="width: 95px" class="ejinputtext" type="text" value="3,4" />
        </div>
        <div class="col-md-3">
            @Html.EJ().Button("unselectitems").Width("107px").Text("Unselect Items by Indices").ClientSideEvents(evt => evt.Click("unselects"))
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-3">CheckBox Visibility</div>
        <div class="col-md-3">
            @Html.EJ().ToggleButton("btnshwhid").Size(ButtonSize.Normal).Width("107px").DefaultText("Show").ActiveText("Hide").ClientSideEvents(evt => evt.Click("onShowHide"))

        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <input id="checks" style="width: 95px" class="ejinputtext" type="text" value="3,4" disabled /></div>
        <div class="col-md-3">
            @Html.EJ().Button("Checks").Width("107px").Text("Check Items by Indices").ClientSideEvents(evt => evt.Click("checks"))
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-3">
            <input id="unchecks" style="width: 95px" class="ejinputtext" type="text" value="3,4" disabled /></div>
        <div class="col-md-3">
            @Html.EJ().Button("Unchecks").Width("107px").Text("Uncheck Items by Indices").ClientSideEvents(evt => evt.Click("unchecks"))
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <input id="disable" style="width: 95px" class="ejinputtext" type="text" value="2,4,6" />
        </div>
        <div class="col-md-3">
            @Html.EJ().Button("DisableItems").Width("107px").Text("Disable Items by Indices").ClientSideEvents(evt => evt.Click("disable"))
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-3">
            <input id="enable" style="width: 95px" class="ejinputtext" type="text" value="2,4" />
        </div>
        <div class="col-md-3">
            @Html.EJ().Button("EnableItems").Width("107px").Text("Enable Items by Indices").ClientSideEvents(evt => evt.Click("enable"))
        </div>
    </div>
}
@section ScriptSection{
    <script type="text/javascript">
        $(function () {
            ListboxObj = $('#SkillSelect').data("ejListBox");
            CheckedObj = $("#Checks").data("ejButton");
            UnCheckObj = $('#Unchecks').data("ejButton");
            $("#sampleProperties").ejPropertiesPanel();
            if (!ListboxObj.option('showCheckbox')) {
                CheckedObj.disable();
                UnCheckObj.disable();
            }
        });
        function add(e) {
            var target = $('#SkillSelect').data("ejListBox");
            target.addItem($("#additem").val());
        }

        function remove(e) {
            var target = $('#SkillSelect').data("ejListBox");
            target.removeSelectedItems();
        }
        function onEnableDiasableAll(args) {
            var target = $('#SkillSelect').data("ejListBox");
            if (args.isChecked){
                target.disable();
		$(".ctrllabel").css("opacity",0.5);
		}		
            else{
                target.enable();
		$(".ctrllabel").css("opacity",1);
		}
        }

        function selects(e) {
            var target = $('#SkillSelect').data("ejListBox");
            var value = $("#selects").val();
            target.selectItemsByIndex(value);
        }
        function unselects(e) {
            var target = $('#SkillSelect').data("ejListBox");
            var value = $("#unselects").val();
            target.unselectItemsByIndex(value);
        }
        function disable(e) {
            var target = $('#SkillSelect').data("ejListBox");
            var value = $("#disable").val();
            if (value != "")
                target.disableItemsByIndices(value);
            else alert("Please enter the item index");
        }
        function enable(e) {
            var target = $('#SkillSelect').data("ejListBox");
            var value = $("#enable").val();
            if (value != "")
                target.enableItemsByIndices(value);
            else alert("Please enter the item index");
        }
        function onShowHide(args) {
            ListboxObj = $('#SkillSelect').data("ejListBox");
            CheckedObj = $("#Checks").data("ejButton");
            UnCheckObj = $('#Unchecks').data("ejButton");
            SelectObj = $("#selectitems").data("ejButton");
            UnSelectObj = $('#unselectitems').data("ejButton");
            if (args.isChecked) {
                ListboxObj.option("showCheckbox", true);
                CheckedObj.enable();
                UnCheckObj.enable();
                SelectObj.disable();
                UnSelectObj.disable();
                $("#unselects").attr("disabled", "true");
                $("#selects").attr("disabled", "true");
                $("#checks").removeAttr("disabled");
                $("#unchecks").removeAttr("disabled");
            }
            else {
                ListboxObj.option("showCheckbox", false);
                CheckedObj.disable();
                UnCheckObj.disable();
                SelectObj.enable();
                UnSelectObj.enable();
                $("#unselects").removeAttr("disabled");
                $("#selects").removeAttr("disabled");
                $("#checks").attr("disabled", "true");
                $("#unchecks").attr("disabled", "true");
            }
        }
        function checks(e) {
            var target = $('#SkillSelect').data("ejListBox");
            value = $("#checks").val();
            if (value != "") {
                target.checkItemsByIndices(value);
            }
            else alert("Please enter the item index");
        }
        function unchecks(e) {
            var target = $('#SkillSelect').data("ejListBox");
            value = $("#unchecks").val();
            if (value != "") {
                target.uncheckItemsByIndices(value);
            }
            else alert("Please enter the item index");
        }
        function setheight() {
            if (document.body.firstElementChild.className == "htmljssamplebrowser material" || "htmljssamplebrowser office-365") {
                setTimeout(function () {
                    var obj = $("#SkillSelect").ejListBox("instance");
                    obj._refreshScroller();
                }, 500);
            }
        }
    </script> 
}
@section StyleSection{
    <style type="text/css" class="cssStyles">
        .ctrllabel {
            padding: 0px 0px 12px 3px;
            font-weight: 600;
        }

        .e-ddl-popup {
            margin: 0 auto;
        }

    </style>
}

