@section MetaTags{
   <meta name="description" content="This example demonstrates the various options like character set, maximin length and hatch style in ASP.NET MVC Captcha.">
}

@section SampleHeading{
    <span class="sampleName">Captcha-Core Features-ASP.NET MVC-SYNCFUSION</span>}
@section ControlsSection{
    @using (Html.BeginForm("SuccessMessage", "Captcha", FormMethod.Post, new { onsubmit = "clearFrame()" }))
    {
        <div class="frame">
            <div class="control">
                <table>
                    <tr>
                        <td>
                            <div>
                                @if (ViewBag.characterset != null && ViewBag.maximumlength != null)
                                {
                                    @Html.EJ().Captcha("captcha").EnableAutoValidation(true).CharacterSet((string)ViewBag.characterset).HatchStyle((HatchStyle)ViewBag.hatch).MaximumLength(int.Parse((string)ViewBag.maximumlength)).ShowAudioButton(true).ShowRefreshButton(true).RequestMapper(Url.Action("Refresh")).CustomErrorMessage("Invalid Captcha Please Try Again").TargetButton("submit")
                                }
                                else
                                {
                                    @Html.EJ().Captcha("captcha").EnableAutoValidation(true).MaximumLength(4).HatchStyle(HatchStyle.BackwardDiagonal).CharacterSet("ABCD1234").ShowRefreshButton(true).ShowAudioButton(true).RequestMapper(Url.Action("Refresh")).CustomErrorMessage("Invalid Captcha Please Try Again").TargetButton("submit")
                                }
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.EJ().Button("submit").Size(ButtonSize.Large).Text("Submit").Type(ButtonType.Submit)
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    }
}
@section PropertiesSection{

    @using (Html.BeginForm("CoreFeatures", "Captcha", FormMethod.Post))
    { 
        <div class="row">
            <div class="col-md-3">Hatch Style</div>
            <div class="col-md-3">
                @if (ViewBag.characterset == null && ViewBag.maximumlength == null)
                {@Html.EJ().DropDownList("styles").Datasource((List<string>)ViewBag.data).Width("100px").SelectedItemIndex(0)}
                else
                { @Html.EJ().DropDownList("styles").Datasource((List<string>)ViewBag.data).Width("100px").SelectedItemIndex((int)ViewBag.selectedIndex) }

            </div>
        </div>
        <div class="row">
            <div class="col-md-3">Character Set</div>
            <div class="col-md-3">
                @if (ViewBag.characterset == null && ViewBag.maximumlength == null)
                {<input id="charset1" name="charset1" style="width: 96px" value="ABCD1234" type="text" />}
                else
                { <input id="charset1" name="charset1" style="width: 96px" value="@((string)ViewBag.characterset)" type="text" /> }

            </div>
        </div>
        <div class="row">
            <div class="col-md-4">Maximum Length</div>
            <div class="col-md-3">
                @if (ViewBag.characterset == null && ViewBag.maximumlength == null)
                {@Html.EJ().NumericTextbox("maxset").Name("maxset").EnableStrictMode(false).MaxValue(9).MinValue(5).Width("100px").Value("5")}
                else
                {@Html.EJ().NumericTextbox("maxset").Name("maxset").EnableStrictMode(false).MaxValue(9).MinValue(5).Width("100px").Value((string)ViewBag.maximumlength) }
            </div>
            <div class="row">
                <div class="col-md-6">
                    @Html.EJ().Button("apply1").Width("107px").Text("Apply").Type(ButtonType.Submit)
                </div>
            </div>
        </div>
        <br />
    
    }
}
@section ScriptSection
    {
    <script type="text/javascript">
        $(function () {
            $("#sampleProperties").ejPropertiesPanel();
        });
		
		function clearFrame()
		{
				$(".frame").html("<h3>Processing . . .</h3>");
		}
    </script>
}
@section StyleSection{

    <style>
        .frame {
            margin:0 auto;
        }
    </style>
}

