@section SampleHeading{ <span class="sampleName">Rating-Methods-ASP.NET MVC-SYNCFUSION</span>}

@section ControlsSection{

    <div class="frame">
        @Html.EJ().Rating("apiRating")
    </div>
}
<div id="ratingTarget">
    <ul>
        <li>0</li>
        <li>1</li>
        <li>2</li>
        <li>3</li>
        <li>4</li>
        <li>5</li>
    </ul>
</div>
@section PropertiesSection{
    <div class="row">
        <div class="col-md-3">
            Set Value
        </div>
        <div class="col-md-3">
            @Html.EJ().DropDownList("ddlRating").TargetID("ratingTarget").SelectedItemIndex(1).Width("80px").ClientSideEvents(evt => evt.Change("setRatingValue"))
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            Get Current Value
        </div>
        <div class="col-md-3">
            @Html.EJ().Button("btnGetValue").Width("81px").Text("Get Value").ClientSideEvents(evt => evt.Click("onGetValueClck"))
        </div>
    </div>

    <div class="row">
        <div class="col-md-3">
            Reset
        </div>
        <div class="col-md-3">
            @Html.EJ().Button("btnReset").Width("81px").Text("Reset").ClientSideEvents(evt => evt.Click("onResetClick"))
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            Reset Button
        </div>
        <div class="col-md-3">
            @Html.EJ().ToggleButton("chkResetbtn").Width("81px").DefaultText("Hide").ActiveText("Show").ClientSideEvents(evt => evt.Change("onShowHideReset"))
        </div>
    </div>

    <div class="row">
        <div class="col-md-3">
            Rating
        </div>
        <div class="col-md-3">
            @Html.EJ().ToggleButton("chkShowHideRating").Width("81px").DefaultText("Hide").ActiveText("Show").ClientSideEvents(evt => evt.Change("onShowHideRating"))
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            Destroy
        </div>
        <div class="col-md-3">
            @Html.EJ().ToggleButton("chkDestroyRating").Width("81px").DefaultText("Destroy").ActiveText("Restore").ClientSideEvents(evt => evt.Change("onDestroyRestore"))
        </div>
    </div>   
}
@section ScriptSection{
    <script>
        var ratingObj, ddlObj;
        $(function () {
            ratingObj = $("#apiRating").data("ejRating");
            ddlObj = $("#ddlRating").data("ejDropDownList");
        });
        ratingObj = $("#apiRating").data("ejRating");
        function onGetValueClck(args) {
            if (ratingObj) {
                var val = ratingObj.getValue();
                alert("Current Value : " + val);
            }
        }
        function setRatingValue(args) {
            ratingObj = $("#apiRating").data("ejRating");
            if (ratingObj) {
                ratingObj = $("#apiRating").data("ejRating");
                ratingObj.setValue(args.selectedText);
            }
        }
        function onResetClick() {
            if (ratingObj)
                ratingObj.reset();
            ddlObj.option("selectedItemIndex", 0);
        }
        function onShowHideRating(args) {
            if (ratingObj) {
                if (args.isChecked)
                    ratingObj.hide();
                else
                    ratingObj.show();
            }
        }
        function onShowHideReset(args) {
            if (ratingObj) {
                if (args.isChecked)
                    ratingObj.option({ allowReset: false });
                else
                    ratingObj.option({ allowReset: true });
            }
        }
        function onDestroyRestore(args) {
            ratingObj = $("#apiRating").data("ejRating");
            ddlObj = $("#ddlRating").data("ejDropDownList");
            hideButtonObj = $("#chkShowHideRating").data("ejToggleButton");
            resetButtonObj = $("#chkResetbtn").data("ejToggleButton");
            resetObj = $("#btnReset").data("ejButton");
            valButtonObj = $("#btnGetValue").data("ejButton");
            if(args.isChecked){
                ratingObj.destroy();
                ddlObj.disable();
                hideButtonObj.disable();
                resetButtonObj.disable();
                resetObj.disable();
                valButtonObj.disable();
            }
            else {
                $("#apiRating").ejRating();
                ratingObj = $("#apiRating").data("ejRating");
                ddlObj.option('value', "");
                ddlObj.enable();
                hideButtonObj.enable();
                resetButtonObj.enable();
                resetObj.enable();
                valButtonObj.enable();
            }
        }
        $(document).ready(function () { $("#sampleProperties").ejPropertiesPanel(); });
    </script>
}

