@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="productpage showpage">
    <div class="controlText-section">
    <div class="controlSamples-section">
            <ul class="featuredsamples">

                <li class="listsampleimage">
                    <div class="lisampleimage">
                        <a href=@Url.Content("~/")HealthTracker/Home/Index  target="_blank">
                            <div class="imgstyle img1"></div>
                        </a>
                    </div>
                    <div class="litext">
                        <a href=@Url.Content("~/")HealthTracker/Home/Index class="anchorclass aclass">Health Tracker</a>
                        <p>
                            Visualize food intake and calories burnt using gauges, charts and grids.
                        </p>
                    </div>
                    <div class="samplebutton">
                        <a href=@Url.Content("~/")HealthTracker/Home/Index class="anchorclass"  target="_blank">
                            <div><span>VIEW SAMPLE</span></div>
                        </a>
                    </div>
                    <div class="codebutton">
                        <a class="anchorclass" target="_blank" href="@Url.Content("~/")ShowCaseTab/ShowCase/Index?areaname=healthtracker">
                            <div><span class="e-icon codeimg"></span></div>
                        </a>
                    </div>
                    <span class="qrcode"><span class="qrimage qrhealth"></span></span>
                </li>

                <li class="listsampleimage">
                    <div class="lisampleimage">
                        <a href=@Url.Content("~/")Projecttracker/Projecttracker/Index  target="_blank">
                            <div class="imgstyle img6"></div>
                        </a>
                    </div>
                    <div class="litext">
                        <a href=@Url.Content("~/")Projecttracker/Projecttracker/Index class="anchorclass aclass">Project Tracker</a>
                        <p>Visualize and edit project schedule, and track project progress.</p>
                    </div>
                    <div class="samplebutton">
                        <a href=@Url.Content("~/")Projecttracker/Projecttracker/Index class="anchorclass"  target="_blank">
                            <div><span>VIEW SAMPLE</span></div>
                        </a>
                    </div>
                    <div class="codebutton">
                        <a class="anchorclass" target="_blank" href="@Url.Content("~/")ShowCaseTab/ShowCase/Index?areaname=projecttracker">
                            <div><span class="e-icon codeimg"></span></div>
                        </a>
                    </div>
                    <span class="qrcode"><span class="qrimage qrprojecttracker"></span></span>
                </li>
                <li class="listsampleimage">
                    <div class="lisampleimage">
                        <a href=@Url.Content("~/")DiagramBuilder/Home/Index  target="_blank">
                            <div class="imgstyle imgd"></div>
                        </a>
                    </div>
                    <div class="litext">
                        <a href=@Url.Content("~/")DiagramBuilder/Home/Index  class="anchorclass aclass">Diagram Builder</a>
                        <p>
                            Create different kind of diagram using Diagram builder
                        </p>
                    </div>
                    <div class="samplebutton">
                        <a href=@Url.Content("~/")DiagramBuilder/Home/Index  class="anchorclass"  target="_blank">
                            <div><span>VIEW SAMPLE</span></div>
                        </a>
                    </div>
                    <span class="qrcode"><span class="qrimage qrbuilder"></span></span>
                </li>

                <li class="listsampleimage">
                    <div class="lisampleimage">
                        <a href=@Url.Content("~/")ExpenseAnalysis/Expense/Index  target="_blank">
                            <div class="imgstyle img4"></div>
                        </a>
                    </div>
                    <div class="litext">
                        <a href=@Url.Content("~/")ExpenseAnalysis/Expense/Index class="anchorclass aclass">Expense Analysis</a>
                        <p>Categorize and analyze expenses to understand how money was spent.</p>
                    </div>
                    <div class="samplebutton">
                        <a href=@Url.Content("~/")ExpenseAnalysis/Expense/Index class="anchorclass"  target="_blank">
                            <div><span>VIEW SAMPLE</span></div>
                        </a>
                    </div>
                    <div class="codebutton">
                        <a class="anchorclass" target="_blank" href="@Url.Content("~/")ShowCaseTab/ShowCase/Index?areaname=expenseanalysis">
                            <div><span class="e-icon codeimg"></span></div>
                        </a>
                    </div>
                    <span class="qrcode"><span class="qrimage qrexpense"></span></span>
                </li>

                <li class="listsampleimage">
                    <div class="lisampleimage">
                        <a href=@Url.Content("~/")SalesAnalysis/Home/Index target="_blank">
                            <div class="imgstyle img5"></div>
                        </a>
                    </div>
                    <div class="litext">
                        <a href=@Url.Content("~/")SalesAnalysis/Home/Index class="anchorclass aclass">Sales Analysis</a>
                        <p>Sales analysis app which uses Maps and Range Navigator controls .</p>
                    </div>
                    <div class="samplebutton">
                        <a href=@Url.Content("~/")SalesAnalysis/Home/Index class="anchorclass"  target="_blank">
                            <div><span>VIEW SAMPLE</span></div>
                        </a>
                    </div>
					<div class="codebutton">
                        <a class="anchorclass" target="_blank" href="@Url.Content("~/")ShowCaseTab/ShowCase/Index?areaname=salesanalysis">
                            <div><span class="e-icon codeimg"></span></div>
                        </a>
                    </div>
                    <span class="qrcode"><span class="qrimage qrsales"></span></span>
                </li>

                <li class="listsampleimage">
                    <div class="lisampleimage">
                        <a href=@Url.Content("~/")StockAnalysis/Home/Index  target="_blank">
                            <div class="imgstyle img2"></div>
                        </a>
                    </div>
                    <div class="litext">
                        <a href=@Url.Content("~/")StockAnalysis/Home/Index class="anchorclass aclass">Stock Analysis</a>
                        <p>Analyze historical stock price and volume data using charts.</p>
                    </div>
                    <div class="samplebutton">
                        <a href=@Url.Content("~/")StockAnalysis/Home/Index class="anchorclass"  target="_blank">
                            <div><span>VIEW SAMPLE</span></div>
                        </a>
                    </div>
                    <div class="codebutton">
                        <a class="anchorclass" target="_blank" href="@Url.Content("~/")ShowCaseTab/ShowCase/Index?areaname=stockanalysis">
                            <div><span class="e-icon codeimg"></span></div>
                        </a>
                    </div>
                    <span class="qrcode"><span class="qrimage qrstock"></span></span>
                </li>

                <li class="listsampleimage">
                    <div class="lisampleimage">
                        <a href=@Url.Content("~/")WeatherAnalysis/Home/Index  target="_blank">
                            <div class="imgstyle img3"></div>
                        </a>
                    </div>
                    <div class="litext">
                        <a href=@Url.Content("~/")WeatherAnalysis/Home/Index class="anchorclass aclass">Weather Analysis</a>
                        <p>Analyze historical weather data using charts and grids.</p>
                    </div>
                    <div class="samplebutton">
                        <a href=@Url.Content("~/")WeatherAnalysis/Home/Index class="anchorclass"  target="_blank">
                            <div><span>VIEW SAMPLE</span></div>
                        </a>
                    </div>
                    <div class="codebutton">
                        <a class="anchorclass" target="_blank" href="@Url.Content("~/")ShowCaseTab/ShowCase/Index?areaname=weatheranalysis">
                            <div><span class="e-icon codeimg"></span></div>
                        </a>
                    </div>
                    <span class="qrcode"><span class="qrimage qrweather"></span></span>
                </li>
                <li class="listsampleimage">
                    <div class="lisampleimage">
                        <a href=@Url.Content("~/")AirlineReservation/Home/Index  target="_blank">
                            <div class="imgstyle imga"></div>
                        </a>
                    </div>
                    <div class="litext">
                        <a href=@Url.Content("~/")AirlineReservation/Home/Index class="anchorclass aclass">Airline Reservation</a>
                        <p>Search and book flight tickets along selecting your seat.</p>
                    </div>
                    <div class="samplebutton">
                        <a href=@Url.Content("~/")AirlineReservation/Home/Index class="anchorclass"  target="_blank">
                            <div><span>VIEW SAMPLE</span></div>
                        </a>
                    </div>
                    <div class="codebutton">
                        <a class="anchorclass" target="_blank" href="@Url.Content("~/")ShowCaseTab/ShowCase/Index?areaname=airlinereservation">
                            <div><span class="e-icon codeimg"></span></div>
                        </a>
                    </div>
                    <span class="qrcode"><span class="qrimage qrairline"></span></span>
                </li>

                <li class="listsampleimage">
                    <div class="lisampleimage">
                        <a href=@Url.Content("~/")invoice/InvoiceTemplate/Invoice  target="_blank">
                            <div class="imgstyle img10"></div>
                        </a>
                    </div>
                    <div class="litext">
                        <a href=@Url.Content("~/")invoice/InvoiceTemplate/Invoice class="anchorclass aclass">Invoice Report</a>
                        <p>Generate the invoice report using ReportViewer.</p>
                    </div>
                    <div class="samplebutton">
                        <a href=@Url.Content("~/")invoice/InvoiceTemplate/Invoice class="anchorclass"  target="_blank">
                            <div><span>VIEW SAMPLE</span></div>
                        </a>
                    </div>
					<div class="codebutton">
					    <a class="anchorclass" target="_blank" href="@Url.Content("~/")ShowCaseTab/ShowCase/Index?areaname=invoicetemplate">
					        <div><span class="e-icon codeimg"></span></div>
					    </a>
					</div>
                    <span class="qrcode"><span class="qrimage qrinvoicedemo"></span></span>
                </li>

                <li class="listsampleimage">
                    <div class="lisampleimage">
                        <a href=@Url.Content("~/")reportbuilder/ReportBuilderTemplate/ReportBuilder  target="_blank">
                            <div class="imgstyle reportdesigner1"></div>
                        </a>
                    </div>
                    <div class="litext">
                        <a href=@Url.Content("~/")reportbuilder/ReportBuilderTemplate/ReportBuilder class="anchorclass aclass">Report Builder</a>
                        <p>Design the personal expense analysis report using the ReportBuilder.</p>
                    </div>
                    <div class="samplebutton">
                        <a href=@Url.Content("~/")reportbuilder/ReportBuilderTemplate/ReportBuilder class="anchorclass"  target="_blank">
                        <div><span>VIEW SAMPLE</span></div>
                        </a>
                    </div>
                    <div class="codebutton">
                        <a class="anchorclass" target="_blank" href="@Url.Content("~/")ShowCaseTab/ShowCase/Index?areaname=reportbuilder">
                            <div><span class="e-icon codeimg"></span></div>
                        </a>
                    </div>
                    <span class="qrcode"><span class="qrimage qrreportbuilder"></span></span>
                </li>

                <li class="listsampleimage">
                    <div class="lisampleimage">
                        <a href=@Url.Content("~/")SpreadsheetTemplate/Sample/spreadsheettemplate  target="_blank">
                        <div class="imgstyle imgXL"></div>
                        </a>
                    </div>
                    <div class="litext">
                        <a href=@Url.Content("~/")SpreadsheetTemplate/Sample/spreadsheettemplate class="anchorclass aclass">Spreadsheet</a>
                        <p>Excel like Spreadsheet.</p>
                    </div>
                    <div class="samplebutton">
                        <a href=@Url.Content("~/")SpreadsheetTemplate/Sample/spreadsheettemplate class="anchorclass"  target="_blank">
                        <div><span>VIEW SAMPLE</span></div>
                        </a>
                    </div>
                    <div class="codebutton">
                        <a class="anchorclass" target="_blank" href="@Url.Content("~/")ShowCaseTab/ShowCase/Index?areaname=spreadsheettemplate">
                            <div><span class="e-icon codeimg"></span></div>
                        </a>
                    </div>
                    <span class="qrcode"><span class="qrimage qrspreadsheet"></span></span>
                </li>
                <li class="listsampleimage">
                    <div class="lisampleimage">
                        <a href=@Url.Content("~/")AuditShowcase/Home/Index  target="_blank">
                        <div class="imgstyle img11"></div>
                        </a>
                    </div>
                    <div class="litext">
                        <a href=@Url.Content("~/")AuditShowcase/Home/Index class="anchorclass aclass">Audit Showcase</a>
                        <p>This sample shows Audit risk High or Low</p>
                    </div>
                    <div class="samplebutton">
                        <a href=@Url.Content("~/")AuditShowcase/Home/Index class="anchorclass"  target="_blank">
                        <div><span>VIEW SAMPLE</span></div>
                        </a>
                    </div>
                    <div class="codebutton">
                        <a class="anchorclass" target="_blank" href="@Url.Content("~/")ShowCaseTab/ShowCase/Index?areaname=auditshowcase">
                            <div><span class="e-icon codeimg"></span></div>
                        </a>
                    </div>
                    <span class="qrcode"><span class="qrimage qraudit"></span></span>
                </li>
                <li class="listsampleimage">
                    <div class="lisampleimage">
                        <a href=@Url.Content("~/")AppointmentPlanner/Home/Index  target="_blank">
                            <div class="imgstyle img12"></div>
                        </a>
                    </div>
                    <div class="litext">
                        <a href=@Url.Content("~/")AppointmentPlanner/Home/Index class="anchorclass aclass">Appointment Planner</a>
                        <p>Find the doctor availability and books appointment.</p>
                    </div>
                    <div class="samplebutton">
                        <a href=@Url.Content("~/")AppointmentPlanner/Home/Index class="anchorclass"  target="_blank">
                            <div><span>VIEW SAMPLE</span></div>
                        </a>
                    </div>
                    <div class="codebutton">
                        <a class="anchorclass" target="_blank" href="@Url.Content("~/")ShowCaseTab/ShowCase/Index?areaname=appointmentplanner">
                            <div><span class="e-icon codeimg"></span></div>
                        </a>
                    </div>
                    <span class="qrcode"><span class="qrimage qrhospital"></span></span>
                </li>
				 <!--<li class="listsampleimage">
                    <div class="lisampleimage">
                        <a href="~/OutlookAnalysis/Outlook/Index"  target="_blank">
                            <div class="imgstyle imgwebmail"></div>
                        </a>
                    </div>
                    <div class="litext">
                        <a href="~/OutlookAnalysis/Outlook/Index" class="anchorclass aclass">WebMail</a>
                        <p></p>
                    </div>
                    <div class="samplebutton">
                        <a href="~/OutlookAnalysis/Outlook/Index" class="anchorclass"  target="_blank">
                            <div><span>VIEW SAMPLE</span></div>
                        </a>
                    </div>
                    <span class="qrcode"><span class="qrimage qrhospital"></span></span>
                </li>-->
            </ul>
        </div>
    </div>
</div>


<style>
    .sampleheadingtext
    {
        display: none;
    }
</style>
