@section MetaTags{
   <meta name="description" content="This example demonstrates the various methods like getText, getHtml, executeCommand, pasteContent etc. in a ASP.NET MVC RichTextEditor control." >
}

@section ScriptReferenceSection{
    <script src="@Url.Content("~/Scripts/jquery.globalize.min.js")"></script>
    <script src="@Url.Content("~/Scripts/cultures/globalize.culture.en-US.min.js")"></script>
}

@section SampleHeading{ <span class="sampleName">RTE / Api</span>}

@section ControlsSection{

    <div>
        <div style="width: 640px; height: 440px">
            @Html.EJ().RTE("rteSample").Width("100%").ContentTemplate(@<div>
                <p><b>Description:</b></p>
        <p>The Rich Text Editor (RTE) control is an easy to render in
        client side. Customer easy to edit the contents and get the HTML content for
        the displayed content. A rich text editor control provides users with a toolbar
        that helps them to apply rich text formats to the text entered in the text
        area. </p>
       <p><b>Functional
        Specifications/Requirements:</b></p>
        <ol><li><p>Provide
        the tool bar support, it’s also customizable.</p></li><li><p>Options
        to get the HTML elements with styles.</p></li><li><p>Support
        to insert image from a defined path.</p></li><li><p>Footer
        elements and styles(tag / Element information , Action button (Upload, Cancel))</p></li><li><p>Re-size
        the editor support.</p></li><li><p>Provide
        efficient public methods and client side events.</p></li><li><p>Keyboard
        navigation support.</p></li></ol>
            </div>).IsResponsive(true).MinWidth("20px").Render()
        </div>
    </div>
}
@section PropertiesSection{
    <div class="row">
        <div class="col-md-12">
            <button class="e-btn" value="disableToolbarItem" onclick="onDisable()">Disable Bold</button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <button class="e-btn" value="disableToolbarItem" onclick="onEnable()">Enable Bold</button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <button class="e-btn" value="disableToolbarItem" onclick="onRemove()">Remove Bold</button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            @Html.EJ().CheckBox("chkShowHide").Check(true).ClientSideEvents(evt => evt.Change("onShowHide")).Render()
            <span>Show / Hide</span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <button class="e-btn" value="disableToolbarItem" onclick="ongetHtmlString()">Get HTML Text</button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <button class="e-btn" value="disableToolbarItem" onclick="ongetText()">Get Text</button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <button class="e-btn" value="disableToolbarItem" onclick="onexec()">Exec Bold</button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <button class="e-btn" value="disableToolbarItem" onclick="oncmdStatus()">Bold Status</button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            @Html.EJ().ToggleButton("chkDEstroy").DefaultText("Destroy").ActiveText("Restroe").ClientSideEvents(evt => evt.Change("onDestroyRestore")).Render()
        </div>
    </div>
}
@section ScriptSection{
    <script>
        var rte;
        $(function () {
            rte = $("#rteSample").data("ejRTE");
        });
        function onDisable() {
            rte.disableToolbarItem("rteSamplebold");
        }
        function onEnable() {
            rte.enableToolbarItem("rteSamplebold");
        }
        function onRemove() {
            rte.removeToolbarItem("rteSamplebold");
        }
        function ongetHtmlString() {
            alert(rte.getHtml());
        }
        function ongetText() {
            alert(rte.getText());
        }
        function onexec() {
            rte.executeCommand("bold", true);
        }
        function oncmdStatus() {
            alert(rte.getCommandStatus("bold"));
        }
        function onShowHide(args) {
            if (args.isChecked)
                rte.show();
            else
                rte.hide();
        }
        function onDestoryRestore(args) {
            if (args.isChecked) {
                rte.destroy();
                rte = null;
            }
            else {
                $("#rteSample").ejRTE();
                rte = $("#rteSample").data("ejRTE");
				$("#chkShowHide").data("ejCheckBox").isChecked()?rte.show():rte.hide();
            }
        }
        $(document).ready(function () { $("#sampleProperties").ejPropertiesPanel(); });
    </script>
}