@section ScriptReferenceSection{
    <script src="@Url.Content("~/Scripts/jquery.globalize.min.js")"></script>
    <script src="@Url.Content("~/Scripts/cultures/globalize.culture.en-US.min.js")"></script>
}

@section SampleHeading{ <span class="sampleName">RTE / CustomTool</span>}
@section ControlsSection{
    @{List<String> toolsList = new List<string>() { "custom" };
      List<String> style = new List<string>() { "bold", "italic", "underline", "strikethrough" };
      List<String> alignment = new List<string>() { "justifyLeft", "justifyCenter", "justifyRight", "justifyFull" };
      List<String> lists = new List<string>() { "unorderedList", "orderedList" };
      List<String> clipboard = new List<string>() { "cut", "copy", "paste" };
      List<String> doAction = new List<string>() { "undo", "redo" };
      List<String> clear = new List<string>() { "clearFormat", "clearAll" };
      List<String> tables = new List<string>() { "createTable", "addRowAbove", "addRowBelow", "addColumnLeft", "addColumnRight", "deleteRow", "deleteColumn", "deleteTable" };
      List<String> links = new List<string>() { "createLink" };
      List<String> images = new List<string>() { "image"};
      List<String> media = new List<string>() { "video" };
      List<String> effects = new List<string>() { "superscript", "subscript" };
      List<String> casing = new List<string>() { "upperCase", "lowerCase" };
      List<String> formatStyle = new List<string>() { "format" };    
    }

    <div>
        <div style="width: 740px; height: 440px">
            @Html.EJ().RTE("rteSample").ContentTemplate(@<div>
                <p><b>Description:</b></p>
        <p>The Rich Text Editor (RTE) control is an easy to render in
        client side. Customer easy to edit the contents and get the HTML content for
        the displayed content. A rich text editor control provides users with a toolbar
        that helps them to apply rich text formats to the text entered in the text
        area. </p>
       <p><b>Functional
        Specifications/Requirements:</b></p>
        <ol><li><p>Provide
        the tool bar support, it’s also customizable.</p></li><li><p>Options
        to get the HTML elements with styles.</p></li><li><p>Support
        to insert image from a defined path.</p></li><li><p>Footer
        elements and styles(tag / Element information , Action button (Upload, Cancel))</p></li><li><p>Re-size
        the editor support.</p></li><li><p>Provide
        efficient public methods and client side events.</p></li><li><p>Keyboard
        navigation support.</p></li></ol>
            </div>).IsResponsive(true).MinWidth("20px").ToolsList(toolsList).Tools(tool => tool.CustomTool(custom =>
                             custom.Name("codeInsert").Tooltip("Insert Code Snippets").Text("codeInsert").Css("codeInsert").Action("$('#srcCode').val('').show();$('#cutomSourceCode').ejDialog('open');"))).Render()

            <div id="rteTarget">
                <ul>
                    <li>Java Script</li>
                    <li>HTML</li>
                    <li></li>
                </ul>
            </div>
            <div id="cutomSourceCode" title="Paste you code and inset to RTE" style="width: auto">
                @Html.EJ().Dialog("cutomSourceCode").TitleText("Paste you code and inset to RTE").AllowResizing(false).EnableModalDialog(true).EnableAutoOpen(false).Items(DataAnnotationsModelMetadata => DataAnnotationsModelMetadata.ContentTemplate(@<div>
                    <table>
                        <tr>
                            <td style="width: 100px">Select type :
                            </td>
                            <td>
                                <div>
                                    @Html.EJ().DropDownList("languageList").TargetId("rteTarget").SelectedItemByIndex(0).ClientSideEvents(evt => evt.Change("onchange")).Render()
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <textarea id="srcCode" style="width: 550px; height: 250px">
                                            <div id="srcArea"></div>
                                </textarea>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <div class="e-rte-button e-fieldseparate">
                                    @Html.EJ().Button("src_insert").Text("Insert").ClientSideEvents(evt => evt.Click("customBtnClick")).Render()
                                    @Html.EJ().Button("src_cancel").Text("Cancel").ClientSideEvents(evt => evt.Click("customBtnClick")).Render()
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>)).Render()

            </div>
        </div>
    </div>
}
@section ScriptSection{
    <script>
        //Add text for custom tool bar element.
        $("div.codeInsert").html("Insert code");
        //load the CodeMirror css in the iframe
        $("#rteSample_Iframe").contents().find("head").append($("<link href='../scripts/CodeMirror/codemirror.min.css' rel='stylesheet'></link>"))
        $("div.codeInsert").html("Insert code");
        rteObj = $("#rteSample").data("ejRTE");
        function customBtnClick(args) {
            if (this._id == "src_insert") {
                var htmlEditor = CodeMirror.fromTextArea($("#srcCode")[0], {
                    lineNumbers: false,
                    mode: $("#languageList").val()
                });
                var codeTags = $("#cutomSourceCode").find(".CodeMirror");
                rteObj.executeCommand("inserthtml", codeTags[0].outerHTML);
                codeTags.remove();
            }
            $("#cutomSourceCode").ejDialog("close");
        }
    </script>
}
@section StyleSection{
    <style>
        .codeInsert {
            height: 22px;
            width: 100px;
            display: block;
            text-align: center;
            font-weight: bold;
        }
    </style>

}