@section SampleHeading{<span class="sampleName"> Spreadsheet / Data Manager</span>}
<link href="@Url.Content("~/Content/Samples/SpreadsheetStyles.css")" rel="stylesheet" />
@section ScriptReferenceSection{
    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")"></script>
}
@section ControlsSection{
    @(Html.EJ().DataManager("dataManager").URL("//js.syncfusion.com/demos/ejServices/Wcf/Northwind.svc/Orders/").CrossDomain(true))
    @(Html.EJ().Spreadsheet<object>("Spreadsheet")
    .ShowRibbon(false)
    .AllowFormulaBar(false)
    .RowCount(32)
    .ColumnWidth(100)
    .ScrollSettings(scroll =>
    {
        scroll.Height(470);
    })
    .Sheets(sheet =>
    {
        sheet.DataManagerID("dataManager")
        .Query("ej.Query().take(150).select(['OrderID', 'CustomerID', 'EmployeeID', 'ShipName', 'ShipAddress', 'ShipCity', 'ShipCountry'])")
        .PrimaryKey("OrderID")
        .FieldAsColumnHeader(true).Add();
    })
    .ClientSideEvents(events => events.LoadComplete("loadComplete"))
    )
}