@section ScriptReferenceSection{
    <script src="@Url.Content("~/Scripts/cultures/ej.culture.en-US.min.js")"></script>
}
@section SampleHeading{<span class="sampleName">Editor-Default Functionalities-ASP.NET MVC-SYNCFUSION</span>}
@section ControlsSection{
  <div class="frame">
     <div class="row">
            <div class="col-xs-6 col-sm-5">
                            <span>Numeric TextBox</span>
                        </div>
            <div class="col-xs-6 col-sm-4">
                            @Html.EJ().NumericTextbox("numeric").Value("1000").Width("100%")
                        </div>
        </div>
        <div class="row">
            <div class="col-xs-6 col-sm-5">
                            <span>Percentage TextBox</span>
                       </div>
            <div class="col-xs-6 col-sm-4">
                            @Html.EJ().PercentageTextbox("percent").Value("100").Width("100%")
                        </div>
        </div>
        <div class="row">
            <div class="col-xs-6 col-sm-5">
                            <span>Currency TextBox</span>
                        </div>
            <div class="col-xs-6 col-sm-4">
                            @Html.EJ().CurrencyTextbox("currency").Value("50").Width("100%")
                        </div>
        </div>
        <div class="row">
            <div class="col-xs-6 col-sm-5">
                            <span>Mask Edit</span>
                        </div>
            <div class="col-xs-6 col-sm-4">
                            @(Html.EJ().MaskEdit("maskedit").InputMode(InputMode.Text).MaskFormat("(999)999-9999").CustomCharacter("$")
                                       .WatermarkText("(999)999-9999").Width("100%"))
                        </div>
        </div>
         <div class="row">
              <div class="col-xs-6 col-sm-3"></div>
              <div class="col-xs-6 col-sm-3 paybill">

                @Html.EJ().Button("btn").Size(ButtonSize.Small).Text("Pay Bill")
            </div>
        </div>
    </div>
        


}

@section StyleSection{

    <style type="text/css" class="cssStyles">
       .frame {
            width: 50%;
        }
        .input {
            width: 110px;
            height: 22px;
            text-indent: 10px;
        }

        .inputBtn, .e-togglebutton {
            width: 114px;
            margin: 0 auto;
        }
        .col-xs-6.col-sm-5 {
            margin-top: 10px;
        }
       .col-xs-6.col-sm-4,.col-xs-6.col-sm-3 {
            padding-top: 7px;
        }
        .paybill{
            margin-left: 85px;
			margin-top: 10px;
        }
    </style>
}

