@section ScriptReferenceSection{
    <script src="@Url.Content("~/Scripts/cultures/ej.culture.en-US.min.js")"></script>
    <script src="@Url.Content("~/Scripts/cultures/ej.culture.de-DE.min.js")"></script>
    <script src="@Url.Content("~/Scripts/cultures/ej.culture.zh-CN.min.js")"></script>
    <script src="@Url.Content("~/Scripts/cultures/ej.culture.vi-VN.min.js")"></script>
    <script src="@Url.Content("~/Scripts/cultures/ej.localetexts.vi-VN.min.js")"></script>
    <script src="@Url.Content("~/Scripts/cultures/ej.localetexts.zh-CN.min.js")"></script>
    <script src="@Url.Content("~/Scripts/cultures/ej.localetexts.en-US.min.js")"></script>

}
@section SampleHeading{<span class="sampleName">DateRangePicker / Localization </span>}
@section ControlsSection{
    <div class="frame">
        <div class="control">
            @Html.EJ().DateRangePicker("dateRange").Width("180px").Locale("en-US").Value("05/28/2018 - 06/27/2018")

        </div>
    </div>
}
<div id="culture">
    <ul>
        <li>en-US</li>
        <li>vi-VN</li>
        <li>zh-CN</li>
    </ul>
</div>
@section PropertiesSection{
    <div class="row">
        <div class="col-md-3">
            Select Culture
        </div>
        <div class="col-md-3">

            @Html.EJ().DropDownList("drop").TargetID("culture").Width("100px").SelectedIndex(0).ClientSideEvents(s => s.Change("onCultureChange"))

        </div>
    </div>
}
@section ScriptSection{
    <script type="text/javascript">
        function onCultureChange(args) {
            var dateRangeobject = $("#dateRange").data("ejDateRangePicker");
            var texts = {};
            var placeholder;
            if (args.text == "en-US") {
                texts = { apply: "Apply", cancel: "Cancel", reset: "Reset" };
                placeholder = "Select dateRange";
            }
            else if (args.text == "vi-VN") {
                texts = {
                    apply: "Ứng dụng", cancel: "hủy bỏ", reset: "Thiết lập lại"
                };
                placeholder = "Chọn Phạm vi";
            }
            else if (args.text == "zh-CN") {
                texts = {
                    apply: "应用",
                    cancel: "取消",
                    reset: "重启"
                };
                placeholder = "选择范围";
            }

            dateRangeobject.setModel({ "locale": args.text, buttonText: texts, watermarkText: placeholder });
        }
        $("#sampleProperties").ejPropertiesPanel();
    </script>
}
@section StyleSection{
    <style>
        .control {
            width: 210px;
        }

            .control .e-daterangewidget{
                width: 175px;
                margin:auto;
            }
    </style>
}