@using Syncfusion.MVC.EJ
@using Syncfusion.JavaScript
@using Syncfusion.JavaScript.DataVisualization
@using MVCSampleBrowser.Models

@{
    Layout = "~/Areas/AuditShowcase/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "Essential Studio for ASP.NET MVC : Audit Showcase";
}


<div class="sampleContainer">
    <div class="audithead">
        <img src="~/Content/images/Icon.ico" class="Logo" alt="icon" />
        <span class="titleAudit">Audit Prediction</span>
    </div>

    <div class="container">

        <div class="leftcontainer">

            <div class="titleDesc">
                This dataset consists of fictional clients who have been audited. For each case an outcome is recorded (whether the taxpayer's claims had to be adjusted or not).
            </div>
            <div class="LeftField">
                <div class="LabelDiv">Age</div>
                <div class="InputDiv">
                    @Html.EJ().NumericTextbox("Age").Value(ViewBag.Age).Width("200px").Height("25").MinValue(17).MaxValue(93)
                </div>

                <div class="LabelDiv">Gender</div>
                <div class="InputDiv">
                    @Html.EJ().DropDownList("Sex").TargetID("sexList").Text(ViewBag.Sex).Width("200px").Height("25")
                    <div id="sexList">
                        <ul>
                            <li>Male</li>
                            <li>Female</li>
                        </ul>
                    </div>
                </div>

                <div class="LabelDiv">Marital</div>
                <div class="InputDiv">
                    @Html.EJ().DropDownList("Marital").TargetID("marList").Text(ViewBag.Marital).Width("200px").Height("25")
                    <div id="marList">
                        <ul>
                            <li>Absent</li>
                            <li>Divorced</li>
                            <li>Married</li>
                            <li>Married-spouse-absent</li>
                            <li>Unmarried</li>
                            <li>Widowed</li>
                        </ul>
                    </div>
                </div>

                <div class="LabelDiv">Education</div>
                <div class="InputDiv">
                    @Html.EJ().DropDownList("Education").TargetID("eduList").Text(ViewBag.Education).Width("200px").Height("25")
                    <div id="eduList">
                        <ul>
                            <li>Associate</li>
                            <li>Bachelor</li>
                            <li>College</li>
                            <li>Doctorate</li>
                            <li>HSgrad</li>
                            <li>Master</li>
                            <li>Preschool</li>
                            <li>Professional</li>
                            <li>Vocational</li>
                            <li>Yr9</li>
                            <li>Yr10</li>
                            <li>Yr11</li>
                            <li>Yr12</li>
                            <li>Yr1t4</li>
                            <li>Yr5t6</li>
                            <li>Yr7t8</li>
                        </ul>
                    </div>
                </div>

                <div class="LabelDiv">Employment</div>
                <div class="InputDiv">
                    @Html.EJ().DropDownList("Employment").TargetID("empList").Text(ViewBag.Employment).Width("200px").Height("25")
                    <div id="empList">
                        <ul>
                            <li>Consultant</li>
                            <li>Private</li>
                            <li>PSFederal</li>
                            <li>PSLocal</li>
                            <li>PSState</li>
                            <li>SelfEmp</li>
                            <li>Volunteer</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="RightField">

                <div class="LabelDiv">Occupation</div>
                <div class="InputDiv">
                    @Html.EJ().DropDownList("Occupation").TargetID("occuList").Text(ViewBag.Occupation).Width("200px").Height("25")
                    <div id="occuList">
                        <ul>
                            <li>Cleaner</li>
                            <li>Clerical</li>
                            <li>Executive
                            <li>Farming</li>
                            <li>Home</li>
                            <li>Machinist</li>
                            <li>Military</li>
                            <li>Professional</li>
                            <li>Protective</li>
                            <li>Repair</li>
                            <li>Sales</li>
                            <li>Service</li>
                            <li>Support</li>
                            <li>Transport</li>
                        </ul>
                    </div>
                </div>

                <div class="LabelDiv"> Hours</div>
                <div class="InputDiv">
                    @Html.EJ().NumericTextbox("hours").Value(ViewBag.Hours).Width("200px").Height("25").MinValue(0).MaxValue(199)
                </div>

                <div class="LabelDiv">Income</div>
                <div class="InputDiv">
                    @Html.EJ().NumericTextbox("income").Value(ViewBag.Income).Width("200px").Height("25").MinValue(0).MaxValue(1000000000)
                </div>

                <div class="LabelDiv">Deduction</div>
                <div class="InputDiv">
                    @Html.EJ().NumericTextbox("deduction").Value(ViewBag.Deduction).Width("200px").Height("25").MinValue(0).MaxValue(1000000000)
                </div>

                <div class="LabelDiv"> Accounts</div>
                <div class="InputDiv">
                    @Html.EJ().DropDownList("Accounts").TargetID("accList").Text(ViewBag.Accounts).Width("200px").Height("25")
                    <div id="accList">
                        <ul>
                            <li>Canada</li>
                            <li>China</li>
                            <li>Columbia</li>
                            <li>Cuba</li>
                            <li>Ecuador</li>
                            <li>England</li>
                            <li>Fiji</li>
                            <li>Germany</li>
                            <li>Greece</li>
                            <li>Guatemala</li>
                            <li>Hong</li>
                            <li>Hungary</li>
                            <li>India</li>,
                            <li>Indonesia</li>
                            <li>Iran</li>
                            <li>Ireland</li>
                            <li>Italy</li>
                            <li>Jamaica</li>
                            <li>Japan</li>
                            <li>Malaysia</li>
                            <li>Mexico</li>
                            <li>NewZealand</li>
                            <li>Nicaragua</li>
                            <li>Philippines</li>
                            <li>Poland</li>
                            <li>Portugal</li>
                            <li>Scotland</li>
                            <li>Singapore</li>
                            <li>Taiwan</li>
                            <li>UnitedStates</li>
                            <li>Vietnam</li>
                            <li>Yugoslavia</li>
                        </ul>
                    </div>
                </div>
            </div>
            <input type="submit" onclick="myfunc()" name="Predict" value="Predict, if Tax Adjustable?" class="formSubmit" />
            <script type="text/javascript">
                            function myfunc() {
                                $.ajax({
                                    type: "POST",
                                    url: '@Url.Action("Index", "Home")',
                                    data: {
                                        Age: "" + $('#Age').data("ejNumericTextbox")._preVal,
                                        Income: "" + $('#income').data("ejNumericTextbox")._preVal,
                                        Deduction: "" + $('#deduction').data("ejNumericTextbox")._preVal,
                                        Hours: "" + $('#hours').data("ejNumericTextbox")._preVal,
                                        Accounts: "" + $('#Accounts').data("ejDropDownList").currentValue,
                                        Employment: "" + $('#Employment').data("ejDropDownList").currentValue,
                                        Education: "" + $('#Education').data("ejDropDownList").currentValue,
                                        Sex: "" + $('#Sex').data("ejDropDownList").currentValue,
                                        Marital: "" + $('#Marital').data("ejDropDownList").currentValue,
                                        Occupation: "" + $('#Occupation').data("ejDropDownList").currentValue
                                    },
                                    success: function (data) {
                                        $(".rightcontainer").html(data);
                                    },
                                    error: function () { }
                                });
                            }
            </script>
        </div>

        <div id="rightcontainer" class="rightcontainer">
            <div class="outputresult">
                <div class="outputDesc">Predicted Result</div>
                <div class="hr"><hr /></div>
                <div class="imageDiv"></div>
                <div class="YesorNo"></div>
                <div class="taxDesc"></div>
            </div>
        </div>
    </div>
    <div id="footer">
        <div class="bottom-links">
            <div class="left">
                <div class="sync-text">
                    Copyright © 2001-2019 Syncfusion Inc.
                </div>
            </div>
            <div class="right">
                <a href="https://www.syncfusion.com">
                    <div class="syncfusion-image"></div>
                </a>
            </div>
        </div>
    </div>
</div>