@section MetaTags{
   <meta name="description" content="This example demonstrates the various methods like enable/disableitem, destroy, show/hide and enable/disableAll in a ASP.NET MVC Accordion." >
}

@section SampleHeading{ <span class="sampleName">Accordion-Methods-ASP.NET MVC-SYNCFUSION</span>}

@section ControlsSection{
<div class="controlframe" style="min-height:300px;">
    @{Html.EJ().Accordion("APIAccordion").Items(data =>
        {
            data.Add().Text("London").ContentTemplate(@<div>
            London is one of the most popular tourist destinations in the world for a reason. A cultural and historical hub, London has an excellent public transportation system that allows visitors to see all the fantastic sights without spending a ton of money on a rental car.
        </div>);
            data.Add().Text("Paris").ContentTemplate(@<div>
            Paris, the city of lights and love - this short guide is full of ideas for how to make the most of the romanticism that oozes from every one of its beautiful corners.
        </div>);
            data.Add().Text("Rome").ContentTemplate(@<div>
            Rome is one of the world's most fascinating cities. The old adage that Rome was not built in a day — and that you won't see it in one or even in three — is true. For the intrepid traveler who can keep pace, here is a list of must-sees. But remember what the Romans say: "Even a lifetime isn't enough to see Rome."
        </div>);
        }).Render();}
    </div>
}

<div id="active">
    <ul>
        <li>London</li>
        <li>Paris</li>
        <li>Rome</li>
    </ul>
</div>
<div id="enable">
    <ul>
        <li>London</li>
        <li>Paris</li>
        <li>Rome</li>
    </ul>
</div>
<div id="disable">
    <ul>
        <li>London</li>
        <li>Paris</li>
        <li>Rome</li>
    </ul>
</div>
<div id="heightAdjust">
    <ul>
        <li>fill</li>
        <li>auto</li>
        <li>content</li>
    </ul>
</div>
@section PropertiesSection{
    <div class="row">
        <div class="col-md-3">
            Active Index
        </div>
        <div class="col-md-3">
            @Html.EJ().DropDownList("optActiveChange").TargetID("active").Width("120px").ClientSideEvents(s => s.Change("onActiveChange")).WatermarkText("Select")
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            Disable Item
        </div>
        <div class="col-md-3">
            @Html.EJ().DropDownList("optDisableChange").TargetID("enable").Width("120px").ShowCheckbox(true).ClientSideEvents(evt => evt.Change("onDisableChange")).WatermarkText("Select")
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            Enable Item
        </div>
        <div class="col-md-3">
            @Html.EJ().DropDownList("optEnableChange").TargetID("disable").ShowCheckbox(true).Width("120px").ClientSideEvents(evt => evt.Change("onEnableChange")).WatermarkText("Select")
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            Enable / Disable All
        </div>
        <div class="col-md-3">
            @Html.EJ().ToggleButton("btnEnableDisable").Width("120px").DefaultText("Disable All").ActiveText("Enable All").ClientSideEvents(evt => evt.Change("onEnableDisableAll"))
        </div>
    </div>

    <div class="row">
        <div class="col-md-3">
            Show / Hide
        </div>
        <div class="col-md-3">
            @Html.EJ().CheckBox("chkShowHide").Checked(true).ClientSideEvents(s1 => s1.Change("onShowHide"))
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            Height Adjust Mode
        </div>
        <div class="col-md-3">
            @Html.EJ().DropDownList("heightAdjustMode").TargetID("heightAdjust").Value("content").Width("120px").ClientSideEvents(evt => evt.Change("onHeightAdjust"))
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            Close button
        </div>
        <div class="col-md-3">
            @Html.EJ().ToggleButton("chkCloseBtn").Width("120px").DefaultText("Show").ActiveText("Hide").ClientSideEvents(evt => evt.Change("onShowHideCloseBtn"))
        </div>
    </div>
}
@section ScriptSection{
    <script>
        var acrdnObj, activeObj, disableObj;
        $(function () {
            acrdnObj = $("#APIAccordion").data("ejAccordion");
            activeObj = $("#optActiveChange").data("ejDropDownList");
            disableObj = $("#optDisableChange").data("ejDropDownList");
        });

        function onEnableDisableAll(args) {
            if (acrdnObj != null) {
                acrdnObj = $("#APIAccordion").data("ejAccordion");
                if (args.isChecked) {
                    acrdnObj.disable();
                    activeObj.disable();
                    disableObj.disable();
                }
                else {
                    acrdnObj.enable();
                    activeObj.enable();
                    disableObj.enable();
                }
            }
        }

        function onActiveChange(args) {
            if (acrdnObj != null) {
                acrdnObj.option({ selectedItemIndex: args.itemId });
                $("#optDisableChange").ejDropDownList("clearText");
                $("#optEnableChange").ejDropDownList("clearText");
            }
        }
        function onDisableChange(args) {
            var arrIndex = [], uncheck = [];
            if (args.isChecked) arrIndex.push(parseInt(args.itemId));
            else uncheck.push(parseInt(args.itemId));
            if (acrdnObj != null) {
                acrdnObj.disableItems(arrIndex); acrdnObj.enableItems(uncheck);
                $("#optActiveChange").ejDropDownList("clearText");
                $("#optEnableChange").ejDropDownList("clearText");
            }
        }
        function onEnableChange(args) {
            var arrayIndex = [], uncheck = [];
            if (args.isChecked) arrayIndex.push(parseInt(args.itemId));
            else uncheck.push(parseInt(args.itemId));
            if (acrdnObj != null) {
                acrdnObj.enableItems(arrayIndex); acrdnObj.disableItems(uncheck);
                $("#optActiveChange").ejDropDownList("clearText");
                $("#optDisableChange").ejDropDownList("clearText");
            }
        }
        function onShowHide(args) {
            if (acrdnObj != null) {
                if (args.isChecked)
                    acrdnObj.show();
                else
                    acrdnObj.hide();
            }
        }
        function onHeightAdjust(args) {
            if (acrdnObj) {
                acrdnObj.element.find(">.e-content").css("height", "");
                acrdnObj.option("heightAdjustMode", args.value);
            }
        }
        function onShowHideCloseBtn(args) {
            acrdnObj && acrdnObj.option("showCloseButton", args.isChecked);
        }
        $(document).ready(function () { $("#sampleProperties").ejPropertiesPanel(); });
    </script>
}


