@section SampleHeading{ <span class="sampleName">Accordion / Nested Accordion</span>}

@section ControlsSection{
<div class="controlframe">
    @{Html.EJ().Accordion("nestedAccordion").Items(data =>
                    {
                        data.Add().Text("Pizza Menu").ContentTemplate(
                            @<div>
                                That is the reason why we offer a variety of toppings and crusts and a wide array of choices made
                                from natural ingredients, balancing a nutritional diet with splendid taste.
                                @innerAccordion()
                            </div>);
                        data.Add().Text("Pasta Menu").ContentTemplate(
                            @<div>
                                Pasta cooked to perfection tossed with milk, vegetables, potatoes, poultry, 100% pure mutton, and cheese - and in creating nutritious and tasty meals to maintain good health.
                                @innerAccordion2()
                            </div>);

                        data.Add().Text("Sandwizza Menu").ContentTemplate(@<div>
            Sandwizza cooked to perfection tossed with bread, milk, vegetables, potatoes, poultry, 100% pure mutton, and cheese - and in creating nutritious and tasty meals to maintain good health.
            @innerAccordion3()

        </div>);


                    }).Render();}
</div>

        @helper innerAccordion()
        {
        @Html.EJ().Accordion("pizzaMenu").Width("95%").Items(data1 =>
                           {
                               data1.Add().Text("GARDEN FRESH (Veg)").ContentTemplate(

                                @<div style="width: 95%; margin-top: 15px">
                                    <img src="@Url.Content("~/Images/accordion/garden-veggie.png")" alt="garden-fresh" />
                                    <div class="ingredients">
                                        Rate    : $50
                                        <br />
                                        Ingredients : cheese, onions, green capsicums & tomatoes.
                                    </div>
                                </div>);
                               data1.Add().Text("CORN & SPINACH (Veg)").ContentTemplate(@<div>
            <img src="@Url.Content("~/Images/accordion/corn-and-spinach-05.png")" alt="garden-fresh" />
            <div class="ingredients">
                Rate    : $70
                <br />
                Ingredients : cheese, sweet corn & green capsicums.
            </div>
        </div>);
                               data1.Add().Text("CHICKEN DELITE (Non-veg)").ContentTemplate(@<div>
            <img src="@Url.Content("~/Images/accordion/chicken-delite.png")" alt="garden-fresh" />
            <div class="ingredients">
                Rate    : $100
                <br />
                Ingredients : cheese, chicken chunks, onions & pineapple chunks.
            </div>
        </div>);
                               data1.Add().Text("KEEMA LA JAWAB (Non-veg)").ContentTemplate(@<div>
            <img src="@Url.Content("~/Images/accordion/chicken-delite.png")" alt="garden-fresh" />
            <div class="ingredients">
                Rate    : $95
                <br />
                Ingredients : lamb keema, onions, garlic & tandoori seasoning.
            </div>
        </div>);
                           }).Collapsible(true)
}

        @helper innerAccordion2()
        {
        @Html.EJ().Accordion("pastaMenu").Width("95%").Items(data2 =>
                                   {
                                       data2.Add().Text("ZESTY MUSHROOMS AND TOMATO (Veg)").ContentTemplate(
                                        @<div style="width: 428px; margin-top: 15px">
                                            <div>
                                                <img src="@Url.Content("~/Images/accordion/zesty-mushroons-and-tomatoes.png")" alt="garden-fresh" />
                                                <div class="ingredients">
                                                    Rate    : $30
                                                    <br />
                                                    Ingredients : cheese, onions, green capsicums & tomatoes.
                                                </div>
                                            </div>
                                        </div>);
                                       data2.Add().Text("CORN & SPINACH (Veg)").ContentTemplate(
                                        @<div>
                                            <img src="@Url.Content("~/Images/accordion/corn-and-spinach-05.png")" alt="garden-fresh" />
                                            <div class="ingredients">
                                                Rate    : $35
                                                <br />
                                                Ingredients : sautered spinach mix, sweet corn, parsley & mozarella cheese.
                                            </div>
                                        </div>);
                                       data2.Add().Text("BAKED CHICKEN AND CHEESE (Non-veg)").ContentTemplate(
                                        @<div>
                                            <img src="@Url.Content("~/Images/accordion/baked-chicken-and-cheese.png")" alt="garden-fresh" />
                                            <div class="ingredients">
                                                Rate    : $55
                                                <br />
                                                Ingredients : grilled chicken, corn and olives.
                                            </div>
                                        </div>);
                                   }).Collapsible(true)
}
        @helper innerAccordion3()
        {
        @Html.EJ().Accordion("sandMenu").Width("95%").Items(data3 =>
                                       {
                                           data3.Add().Text("GARDEN VEGGIE (Veg)").ContentTemplate(
                                            @<div style="width: 428px; margin-top: 15px">
                                                <div>
                                                    <img src="@Url.Content("~/Images/accordion/garden-veggie.png")" alt="garden-fresh" />
                                                    <div class="ingredients">
                                                        Rate    : $30
                                                        <br />
                                                        Ingredients : onions, garden-veggies & tomatoes.
                                                    </div>
                                                </div>
                                            </div>);
                                           data3.Add().Text("PANEER TIKKA (Veg)").ContentTemplate(@<div>
            <img src="@Url.Content("~/Images/accordion/paneer-tikka.png")" alt="garden-fresh" />
            <div class="ingredients">
                Rate    : $34
                <br />
                Ingredients : onions, paneer & tomatoes.
            </div>
        </div>);
                                           data3.Add().Text("CHICKEN TIKKA (Non-veg)").ContentTemplate(
                                            @<div>
                                                <img src="@Url.Content("~/Images/accordion/chicken-tikka.png")" alt="garden-fresh" />
                                                <div class="ingredients">
                                                    Rate    : $64
                                                    <br />
                                                    Ingredients : onions, grilled chicken, chicken salami & tomatoes.
                                                </div>
                                            </div>);
                                       })
}
}
@section StyleSection{
    <style class="cssStyles">
        #nestedAccordion img {
            float: left;
            margin: -5px 26px 5px 1px;
        }

        .ingredients {
            height: 80px;
            margin-top: 8px;
        }
    </style>
}
