@using Syncfusion.JavaScript.Models
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <link href="@Url.Content("~/Content/bootstrap.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/ejthemes/ej.widgets.core.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/ejthemes/flat-saffron/ej.theme.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/ejthemes/responsive-css/ej.responsive.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/sampleBrowserSite.css")" rel="stylesheet" />
    <!--[if lt IE 9]>
    <script src="@Url.Content("~/Scripts/jquery-1.11.3.min.js")"></script>
    <![endif]-->
    <!--[if gte IE 9]><!-->
    <script src="@Url.Content("~/Scripts/jquery-2.1.4.min.js")"></script>
    <!--<![endif]-->
    <script src="@Url.Content("~/Scripts/jquery.easing-1.3.min.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery.globalize.min.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")"></script>
    <script src="@Url.Content("~/Scripts/jsrender.min.js")"></script>
    <script src="@Url.Content("~/Scripts/ej.web.all.min.js")"></script>
    <style>
        body, html {
            height: 100%;
            margin: 0px;
            padding: 0px;
        }

        #TreeGridAdaptiveContainer {
            position: absolute;
        }
    </style>

    <script type="text/javascript">
        $(function () {
            var browserDetails = ej.browserInfo();
            if (!(browserDetails.name == "msie" && parseInt(browserDetails.version, 10) < 9)) {
                window.addEventListener('message', function (e) {
                        changeTheme();
                });
                window.onload = function () {
                    changeTheme();
                }
            }
        });
        function changeTheme() {
            var links = $(document.head || document.getElementsByTagName('head')[0]).find("link");
            for (var i = 0; i < links.length; i++) {
                if (links[i].href.indexOf("ej.theme.min.css") != -1) {
                    var cssref = links[i].href,
                        serverconfig = cssref.substr(0, cssref.indexOf("Content") - 1), fileref, theme;
                    theme = window.parent.themes[window.parent.theme]
                    fileref = $('<link rel="stylesheet" type="text/css" href="' + serverconfig + theme + '" />');
                    $(fileref).insertAfter(links[i]);
                    $(links[i]).remove();
                    break;
                }
            }
        }
    </script>

</head>
<body style="overflow:hidden">

    @(Html.EJ().TreeGrid("TreeGridAdaptiveContainer")
             .ChildMapping("Children")
             .TreeColumnIndex(1)
             .IsResponsive(true)
             .AllowPaging(true)
             .AllowColumnReordering(true)
             .ShowGridCellTooltip(true)
             .ShowColumnChooser(true)
             .ShowColumnOptions(true)
             .AllowSorting(true)
                     .ColumnDialogFields(new List<TreeGridColumnDialogFields>() 
          {
              TreeGridColumnDialogFields.Field,
              TreeGridColumnDialogFields.HeaderText,
              TreeGridColumnDialogFields.EditType,
              TreeGridColumnDialogFields.Visible,
              TreeGridColumnDialogFields.Width,
              TreeGridColumnDialogFields.TextAlign
          })
             .Columns(co =>
               {
                   co.Field("TaskId").HeaderText("Task Id").Width(45).EditType(TreeGridEditingType.Numeric).Add();
                   co.Field("TaskName").HeaderText("Task Name").Width(90).ClipMode(TreeGridColumnClipMode.Ellipsis).EditType(TreeGridEditingType.String).Add();
                   co.Field("StartDate").HeaderText("Start Date").EditType(TreeGridEditingType.Datepicker).Add();
                   co.Field("EndDate").HeaderText("End Date").EditType(TreeGridEditingType.Datepicker).Priority(5).Add();
                   co.Field("Duration").HeaderText("Duration").EditType(TreeGridEditingType.Numeric).Priority(6).Add();
                   co.Field("Progress").HeaderText("Progress").EditType(TreeGridEditingType.Numeric).Priority(6).Add();
               }
             )
             .EditSettings(ed => ed.AllowAdding(true).AllowEditing(true).AllowDeleting(true).EditMode(TreeGridEditMode.DialogEditing))
                     .ToolbarSettings(tool =>
                     {
                         tool.ShowToolbar(true);
                         tool.ToolbarItems(new List<TreeGridToolBarItems>()
                {
                                     TreeGridToolBarItems.Add,
                                     TreeGridToolBarItems.Edit,
                                     TreeGridToolBarItems.Delete,
                                     TreeGridToolBarItems.Update,
                                     TreeGridToolBarItems.Cancel,
                                     TreeGridToolBarItems.ExpandAll,
                                     TreeGridToolBarItems.CollapseAll,
                                  });
                     })
                     .SelectionSettings(se => se.SelectionType(TreeGridSelectionType.Multiple).SelectionMode(TreeGridSelectionMode.Row))
             .SizeSettings(ss => ss.Width("100%").Height("100%"))
             .Datasource(ViewBag.datasource)
    )
    @Html.EJ().ScriptManager()
</body>
</html>