@section ScriptReferenceSection{
    <script src="@Url.Content("~/Scripts/excanvas.min.js")"></script>
    }
@section SampleHeading{
	<span class="sampleName">LinearGauge-Tooltip-ASP.NET MVC-SYNCFUSION</span>
	}

@section StyleSection{
    <style type="text/css">
        #linearframe{
            background-position:47% center;
        }
        label{
		margin-bottom : -25px !important ;
		text-align :center !important;
		}
        .tooltipDiv {
            background-color:#E94649;        
            color: white;
        }
        #Tooltip >div:first-child {
            float: left;
        }
        #Tooltip #value {
            float: right;
            height: 50px;
            width: auto;
            font-stretch:condensed;
            text-align:left !important;
        }
        #Tooltip #value >div {
            margin: 5px 5px 5px 5px;
            text-align:left !important;
            
        }
        #Tooltip #efpercentage {
            font-size: 20px;
            font-family: segoe ui;
			padding-left: 2px;
            width:auto;
            font-stretch:condensed;
            text-align:left !important;
        }
         #Tooltip #ef {
             font-size: 12px;
             font-family: segoe ui;
             text-align:left !important;
        }
        #eficon {
            background-image: url("../images/chart/eficon.png");
            height: 60px;
            width: 60px;
            background-repeat: no-repeat;
        }
    </style>
}
@section ScriptSection{
    <script type="text/javascript">
        function DrawLabel(args) {
            args.style.textValue = args.label.value.toFixed(2);
        }
            $(document).ready(function () {
                $("#sampleProperties").ejPropertiesPanel();
            });

            function onLabelTooltipChange(args) {
                if (args.isChecked)
                    $("#ScaleGauge").ejLinearGauge("option", "tooltip", { showLabelTooltip: true });
                else
                    $("#ScaleGauge").ejLinearGauge("option", "tooltip", { showLabelTooltip: false });
            };
            function onCustomLabelTooltipChange(args) {
                if (args.isChecked)
                    $("#ScaleGauge").ejLinearGauge("option", "tooltip", { showCustomLabelTooltip: true });
                else
                    $("#ScaleGauge").ejLinearGauge("option", "tooltip", { showCustomLabelTooltip: false });
            };
            function onTooltipTemplateChange(args) {
                if (args.isChecked)
                    $("#ScaleGauge").ejLinearGauge("option", "tooltip", { templateID: "Tooltip" });
                else
                    $("#ScaleGauge").ejLinearGauge("option", "tooltip", { templateID: null });
            };
        
       </script>
}
@section ControlsSection{
     <div id="Tooltip" style="height: 60px; display: none;">
        <div id="icon">
            <div id="eficon"></div>
        </div>
        <div id="value">
            <div>
                <label id="efpercentage">&nbsp;#label#</label>
            </div>
        </div>
    </div>
<div id="linearframe" align="center">
@(Html.EJ().LinearGauge("ScaleGauge").LabelColor("#8c8c8c").Width(500).IsResponsive(true).ClientSideEvents(cli => cli.Load("loadGaugeTheme").DrawLabels("DrawLabel"))
                    .Tooltip(tip=>tip.ShowCustomLabelTooltip(true).ShowLabelTooltip(true).TemplateID("Tooltip"))
                    .Scales(s =>
                    {
                        s.Width(4).ShowCustomLabels(true).Minimum(0).Maximum(1.5).MinorIntervalValue(0).MajorIntervalValue(0.25)
                         .BackgroundColor("transparent").ShowBarPointers(false)
                         .Border(bor => bor.Color("transparent").Width(0))
                         .ShowRanges(true)
                         .Length(310)
                         .Position(pos => { pos.X(52).Y(50); })
                         .MarkerPointers(mp => { mp.Value(1.2).Length(10).Width(10).MarkerBackgroundColor("#4D4D4D").Border(bor => bor.Color("4D4D4D")).Add(); })
                         .CustomLabels(cslbl => { cslbl.Value("Fuel Cost $ / L").Color("#fc0606").Font(fnt => fnt.Size("12px").FontStyle("bold").FontFamily("Arial")).Position(pos => pos.X(48).Y(100)).Add(); })
                         .Labels(lbl => { lbl.UnitText("$ ").UnitTextPlacement(UnitTextPlacement.Front).Font(fnt => { fnt.Size("11px").FontFamily("Segoe UI").FontStyle("bold"); }).DistanceFromScale(dfs => dfs.X(-20)).Add(); })
                         .Ticks(tic => { tic.Type(TickType.MajorInterval).Width(1).Color("#8c8c8c").Add(); })
                         .Ranges(rng =>
                            {
                                rng.EndValue(0.75).StartValue(0).RangeBackgroundColor("Green").Border(bor => bor.Color("Green")).StartWidth(4).EndWidth(4).Add();
                                rng.EndValue(1).StartValue(0.75).RangeBackgroundColor("yellow").Border(bor => bor.Color("yellow")).StartWidth(4).EndWidth(4).Add();
                                rng.EndValue(1.5).StartValue(1).RangeBackgroundColor("red").Border(bor => bor.Color("red")).StartWidth(4).EndWidth(4).Add();
                            })
                         .Add();
                    }))
</div>

}
@section PropertiesSection{

                    <div class="row">
                        <div class="col-md-3">
                            Enable Label tooltip
                        </div>
                        <div class="col-md-3 aligntop">
                            @Html.EJ().CheckBox("chkEnableLabelTooltip").ClientSideEvents(cli => cli.Change("onLabelTooltipChange")).Checked(true)
                        </div>
                        <div class="col-md-3">
                            Enable Custom Label tooltip
                        </div>
                        <div class="col-md-3 aligntop">
                            @Html.EJ().CheckBox("chkEnableCustomLabelTooltip").ClientSideEvents(cli => cli.Change("onCustomLabelTooltipChange")).Checked(true)
                        </div>
                    </div>



                    <div class="row">
                        <div class="col-md-3">
                            Enable tooltip template
                        </div>
                        <div class="col-md-3 aligntop">
                            @Html.EJ().CheckBox("chkEnableTooltipTemplate").ClientSideEvents(cli => cli.Change("onTooltipTemplateChange")).Checked(true)
                        </div>
                    </div>
}

@section MetaTags{
   <meta name="description" content="This sample demonstrates the ranges value in the tooltip in the Syncfusion ASP.NET Web Forms Linear gauge control.">
}





