@section SampleHeading{
    <span class="sampleName">PivotGauge-Pointer Options-ASP.NET MVC-SYNCFUSION</span>}
@section MetaTags{
    <meta name="description" content="This demo for Syncfusion Essential JS1 for ASP.NET MVC pivot gauge control describes the various properties to customize the pointers.">
}
@using Syncfusion.JavaScript;

@section ScriptReferenceSection{
    <script src="@Url.Content("~/Scripts/excanvas.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/ej.web.all.min.js")" type="text/javascript"></script>
}
@section StyleSection{
    <style>
        .cols-sample-area
        {
           height:450px;
            overflow: auto;
        }
        .drop-down {
            line-height:20px !important;
        }
        .row .cols-prop-area  {
            min-height: 346px;
        }
        #PivotGauge1 {
            height: 360px;
            width: 100%;
            float: left;
            overflow: auto;
        }
        .circulardarkgradient, .circularlightgradient
        {
            width: 360px;
            position: relative;
        }
           #CodeViewTab ul > li:first-child + li{
            display:none;
        }
    </style>
}
<script>
    $(function () {
        var needlestyle = [{ option: "Triangle", value: "triangle" }, { option: "Trapezoid", value: "trapezoid" }, { option: "Arrow", value: "arrow" }, { option: "Rectangle", value: "rectangle"}];
        var markerstyle = [{ option: "Diamond", value: "diamond" }, { option: "Rectangle", value: "rectangle" }, { option: "Triangle", value: "triangle" }, { option: "Ellipse", value: "ellipse" },
        { option: "Pentagon", value: "pentagon" }, { option: "Circle", value: "circle" }, { option: "Slider", value: "slider" }, { option: "Pointer", value: "pointer" }, { option: "Wedge", value: "wedge" },
        { option: "Trapezoid", value: "trapezoid" }, { option: "Roundedrectangle", value: "roundedrectangle"}];
        $('#needlestyle').ejDropDownList({
            dataSource: needlestyle,
            fields: { text: "option", value: "value" },
            select: "onchange1", width: "110px", selectedIndices : [0], height: "22px"
        });

        $('#markerstyle').ejDropDownList({
            dataSource: markerstyle,
            fields: { text: "option", value: "value" },
            select: "onchange1", width: "110px", selectedIndices : [0], height: "22px"
        });
    });
    function onchange1(args) {
        pivotGauges = $("#PivotGauge1").find(".e-circulargauge");
        if (this._id == "needlestyle") {
            $.each(pivotGauges, function (index, value) {
                gaugeval = $("#" + value.id).data("ejCircularGauge");
                for (var i = 0; i <= 2; i++)
                    gaugeval.setNeedleStyle(0, 0, args.value);
            });
        }
        else if (this._id == "markerstyle") {
        $.each(pivotGauges, function (index, value) {
            gaugeval = $("#" + value.id).data("ejCircularGauge");
            for (var i = 0; i <= 2; i++) {
                gaugeval.setMarkerStyle(0, 1, args.value);
            }
        });
        }
    }

    function onchange(args) {
        pivotGauges = $("#PivotGauge1").find(".e-circulargauge");

        if (args.id == "pointerlength") {
            $.each(pivotGauges, function (index, value) {
                gaugeval = $("#" + value.id).data("ejCircularGauge");
                for (var i = 0; i <= 2; i++)
                    gaugeval.setPointerLength(0, 0, args.value);
            });
        }
        else if (args.id == "pointerwidth") {
            $.each(pivotGauges, function (index, value) {
                gaugeval = $("#" + value.id).data("ejCircularGauge");
                for (var i = 0; i <= 2; i++)
                    gaugeval.setPointerWidth(0, 0, args.value);
            });
        }
        else if (args.id == "markerwidth") {
            $.each(pivotGauges, function (index, value) {
                gaugeval = $("#" + value.id).data("ejCircularGauge");
                for (var i = 0; i <= 2; i++)
                    gaugeval.setPointerWidth(0, 1, args.value);
            });
        }
        else if (args.id == "needlelength") {
            $.each(pivotGauges, function (index, value) {
                gaugeval = $("#" + value.id).data("ejCircularGauge");
                for (var i = 0; i <= 2; i++)
                    gaugeval.setBackNeedleLength(0, 0, args.value);
            });
        }
        else if (args.id == "pointercapradius") {
            $.each(pivotGauges, function (index, value) {
                gaugeval = $("#" + value.id).data("ejCircularGauge");
                for (var i = 0; i <= 2; i++)
                    gaugeval.setPointerCapRadius(0, args.value);
            });
        }
    }
</script>
@section ScriptSection{
    <script type="text/javascript">
        $(function () {
            $("#sampleProperties").ejPropertiesPanel();
        });
        function onLoad(args) {
            args.model.dataSource.rows[0].filterItems = { values: ["[Date].[Fiscal].[Fiscal Year].&amp;[2004]"] };
        }
</script>}
@section ControlsSection{
    @Html.EJ().Pivot().PivotGauge("PivotGauge1").DataSource(dataSource => dataSource.Rows(rows => { rows.FieldName("[Date].[Fiscal]").Add(); }).Columns(columns => { columns.FieldName("[Customer].[Customer Geography]").Add(); }).Values(values => { values.Measures(measures => { measures.FieldName("[Measures].[Internet Sales Amount]").Add(); measures.FieldName("[Measures].[Internet Revenue Status]").Add(); measures.FieldName("[Measures].[Internet Revenue Trend]").Add(); measures.FieldName("[Measures].[Internet Revenue Goal]").Add(); }).Axis(AxisName.Column).Add(); })
.Data("//bi.syncfusion.com/olap/msmdpump.dll").Catalog("Adventure Works DW 2008 SE").Cube("Adventure Works")).BackgroundColor("transparent").EnableTooltip(true).ClientSideEvents(events => { events.BeforeServiceInvoke("onBeforeServiceCall").AfterServiceInvoke("onAfterServiceCall").RenderSuccess("onClientSuccess").DrawLabels("onLabelDraw"); }).Scales(scale =>
{
    scale.ShowRanges(true).Radius(150).ShowScaleBar(true).Size(1).Border(bor=> bor.Width(0.5)).ShowIndicators(true).ShowLabels(true).
        Pointers(pointer =>
        {
            pointer.ShowBackNeedle(true).BackNeedleLength(20).Length(120).Width(7).Add();
            pointer.Type(PointerType.Marker).DistanceFromScale(5).Placement(PointerPlacement.Center).BackgroundColor("#29A4D9").Length(25).Width(15).MarkerType(MarkerType.Diamond).Add();
        }).
    Ticks(ticks =>
    {
        ticks.Type(CircularTickTypes.Major).DistanceFromScale(2).Height(16).Width(1).Color("#8c8c8c").Add();
        ticks.Type(CircularTickTypes.Minor).Height(6).Width(1).DistanceFromScale(2).Color("#8c8c8c").Add();
    })
    .Labels(labels => { labels.Color("#8c8c8c").Add(); })
    .Ranges(ranges =>
    {
        ranges.DistanceFromScale(-5).BackgroundColor("#fc0606").Border(bor=>bor.Color("#fc0606")).Add();
        ranges.DistanceFromScale(-5).Add();
    })
    .CustomLabels(customLabel =>
    {
        customLabel.Position(location => location.X(180).Y(290)).Font(font => font.Size("10px").FontFamily("Segoe UI").FontStyle("Normal")).Color("#666666").Add();
        customLabel.Position(location => location.X(180).Y(320)).Font(font => font.Size("10px").FontFamily("Segoe UI").FontStyle("Normal")).Color("#666666").Add();
        customLabel.Position(location => location.X(180).Y(150)).Font(font => font.Size("12px").FontFamily("Segoe UI").FontStyle("Normal")).Color("#666666").Add();
    }).Add();
}).ClientSideEvents(oCli=> {oCli.RenderSuccess("loadPivotGaugeTheme").Load("onLoad");}).IsResponsive(true).LabelFormatSettings(labelFormatSettings=> labelFormatSettings.DecimalPlaces(2))
}
@section PropertiesSection{
                <div class="row">
                    <div class="col-md-3">
                        Pointer Length
                    </div>
                    <div class="col-md-3 aligntop">
                        @Html.EJ().Slider("pointerlength").SliderType(SlideType.MinRange).Value("125").Height("10").Width("110").MinValue(50).MaxValue(130).EnableAnimation(true).ClientSideEvents(clientSideEvents => clientSideEvents.Slide("onchange").Change("onchange"))
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            Pointer Width
                        </div>
                        <div class="col-md-3 aligntop">
                            @Html.EJ().Slider("pointerwidth").SliderType(SlideType.MinRange).Value("7").Height("10").Width("110").MinValue(2).MaxValue(15).EnableAnimation(true).ClientSideEvents(clientSideEvents => clientSideEvents.Slide("onchange").Change("onchange"))
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            Marker Width
                        </div>
                        <div class="col-md-3 aligntop">
                            @Html.EJ().Slider("markerwidth").SliderType(SlideType.MinRange).Value("15").Height("10").Width("110").MinValue(10).MaxValue(30).EnableAnimation(true).ClientSideEvents(clientSideEvents => clientSideEvents.Slide("onchange").Change("onchange"))
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            Needle Length
                        </div>
                        <div class="col-md-3 aligntop">
                            @Html.EJ().Slider("needlelength").SliderType(SlideType.MinRange).Value("19").Height("10").Width("110").MinValue(10).MaxValue(20).EnableAnimation(true).ClientSideEvents(clientSideEvents => clientSideEvents.Slide("onchange").Change("onchange"))
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            Cap Radius
                        </div>
                        <div class="col-md-3 aligntop">
                            @Html.EJ().Slider("pointercapradius").SliderType(SlideType.MinRange).Value("12").Height("10").Width("110").MinValue(9).MaxValue(15).EnableAnimation(true).ClientSideEvents(events => events.Change("onchange"))
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            Needle Style
                        </div>
                        <div class="col-md-3" style="margin-top: 4px;">
                            <input type="text" class="drop-down" id="needlestyle" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            Marker Style
                        </div>
                        <div class="col-md-3 aligntop">
                            <input type="text" class="drop-down" id="markerstyle" />
                        </div>
                    </div>
                </div>
       }

