<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <meta name="description" content="An appointment planner is developed using scheduler to manage the patient appointments booked under each specialized doctors.">
    <link href="@Url.Content("~/favicon.ico")" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    <link href="@Url.Content("~/Content/bootstrap.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/ejthemes/flat-saffron/ej.web.all.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/ejthemes/responsive-css/ej.responsive.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/appointmentplanner/appointmentplanner.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/jquery-1.11.3.min.js")"></script>
    <script src="@Url.Content("~/Scripts/jsrender.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/ej.web.all.min.js")" type="text/javascript"></script>
</head>
<body>

    @RenderBody()

    @(Html.EJ().ScriptManager())

    @if (IsSectionDefined("ScriptSection"))
    {
        @RenderSection("ScriptSection", required: false)
    }

</body>
</html>
