@section SampleHeading{<span class="sampleName"> Grid/Sorting/Multi Sorting</span>}
@section ControlsSection{
    @(Html.EJ().Grid<OrdersView>("MultiSort")
        .Datasource((IEnumerable<object>)ViewBag.datasource)
        .AllowPaging()
        .AllowSorting()
        .AllowMultiSorting()
        .Columns(col =>
        {
            col.Field("OrderID").HeaderText("Order ID").IsPrimaryKey(true).TextAlign(TextAlign.Right).Width(90).Add();
            col.Field("ShipCity").HeaderText("Ship City").Width(100).Add();
            col.Field("EmployeeID").HeaderText("Employee ID").TextAlign(TextAlign.Right).Width(110).Add();
            col.Field("Freight").HeaderText("Freight").TextAlign(TextAlign.Right).Width(90).Width(90).Format("{0:C}").Add();
            col.Field("CustomerID").HeaderText("Customer ID").Width(120).Add();
        })
        )
}
@section PropertiesSection{
    <div class="row">
        <div class="col-md-3">
            MultiSorting
        </div>
        <div class="col-md-3">
            @(Html.EJ().CheckBox("multiSorting")
                .Checked()
                .ClientSideEvents(eve => { eve.Change("onClick"); })
                .Value("multiSorting")
                )
        </div>
        <div class="col-md-3">
            Order ID
        </div>
        <div class="col-md-3">
            @(Html.EJ().CheckBox("OrderID")
                .ClientSideEvents(eve => { eve.Change("onClick"); })
                .Value("Order ID")
                )
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            Ship City
        </div>
        <div class="col-md-3">
            @(Html.EJ().CheckBox("ShipCity")
                .ClientSideEvents(eve => { eve.Change("onClick"); })
                .Value("Ship City")
                )
        </div>
        <div class="col-md-3">
            Employee ID
        </div>
        <div class="col-md-3">
            @(Html.EJ().CheckBox("EmployeeID")
                .ClientSideEvents(eve => { eve.Change("onClick"); })
                .Value("Employee ID")
                )
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            Freight
        </div>
        <div class="col-md-3">
            @(Html.EJ().CheckBox("Freight")
                .ClientSideEvents(eve => { eve.Change("onClick"); })
                .Value("Freight")
                )
        </div>
        <div class="col-md-3">
            CustomerID
        </div>
        <div class="col-md-3">
            @(Html.EJ().CheckBox("CustomerID")
                .ClientSideEvents(eve => { eve.Change("onClick"); })
                .Value("Customer ID")
                )
        </div>
    </div>
}
@section ScriptSection{
    <script type="text/javascript">
        $(function () {
            $("#sampleProperties").ejPropertiesPanel();
        });
        function onClick(args) {
            var gridObj = $("#MultiSort").data("ejGrid");
            if (gridObj != undefined) {
                var clkVal = this.element[0].id.replace("ej", "");
                if (clkVal == "multiSorting") {
                    if (args.isChecked) {
                        $("#Freight, #CustomerID, #OrderID, #ShipCity, #EmployeeID").ejCheckBox("enable");
                        gridObj.model.allowMultiSorting = true;
                    }
                    else {
                        gridObj.model.allowMultiSorting = false;
                        $("#OrderID").ejCheckBox("option", { "checked": false });
                        $("#CustomerID").ejCheckBox("option", { "checked": false });
                        $("#Freight").ejCheckBox("option", { "checked": false });
                        $("#ShipCity").ejCheckBox("option", { "checked": false });
                        $("#EmployeeID").ejCheckBox("option", { "checked": false });
                        $("#Freight, #CustomerID, #OrderID, #ShipCity, #EmployeeID").ejCheckBox("disable");
                        $("#MultiSort").ejGrid("clearSorting");
                    }
                }
                else {
                    if (args.isChecked) {
                        gridObj.multiSortRequest = gridObj.model.allowMultiSorting;
                        $("#MultiSort").ejGrid("sortColumn", this.element[0].id);
                    }
                    else {
                        gridObj.multiSortRequest = false;
                        gridObj.model.sortSettings.sortedColumns = gridObj.model.sortSettings.sortedColumns.filter(function (index) {
                            return index.field != clkVal;
                        });
                        $("#MultiSort").ejGrid("refreshContent");
                    }
                }
            }
        }
    </script>
}
