@section SampleHeading{<span class="sampleName"> Grid/Sorting/Sorting API</span>}
@section ControlsSection{
    @(Html.EJ().Grid<OrdersView>("Sorting")
        .Datasource((IEnumerable<object>)ViewBag.datasource)
        .AllowPaging()
        .AllowSorting()
        .Columns(col =>
        {
            col.Field("OrderID").HeaderText("Order ID").IsPrimaryKey(true).TextAlign(TextAlign.Right).Width(90).Add();
            col.Field("ShipCity").HeaderText("Ship City").Width(100).Add();
            col.Field("EmployeeID").HeaderText("Employee ID").TextAlign(TextAlign.Right).Width(110).Add();
            col.Field("Freight").HeaderText("Freight").TextAlign(TextAlign.Right).Width(90).Width(90).Format("{0:C}").Add();
            col.Field("CustomerID").HeaderText("Customer ID").Width(120).Add();
        })
        )
}
@section PropertiesSection{
    <div id="sampleProperties">
        <div class="prop-grid">
            <div id="ddl1">
                <ul>
                    <li>Order ID</li>
                    <li>Customer ID</li>
                    <li>Employee ID</li>
                    <li>Freight</li>
                    <li>Ship City</li>
                </ul>
            </div>
            <div id="ddl2">
                <ul>
                    <li>Ascending</li>
                    <li>Descending</li>
                </ul>
            </div>
            <div class="row">
                <div class="col-md-3">
                    Column Name
                </div>
                <div class="col-md-3">
                    @(Html.EJ().DropDownList("columnName")
                        .TargetID("ddl1")
                        .Width("120px")
                        .SelectedItemIndex(0)
                        )
                </div>
                <div class="col-md-3">
                    Sort Direction
                </div>
                <div class="col-md-3">
                    @(Html.EJ().DropDownList("directions")
                        .TargetID("ddl2")
                        .Width("120px")
                        .SelectedItemIndex(0)
                        )
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    @(Html.EJ().Button("doSorting")
                        .Width("100px")
                        .ClientSideEvents(eve => { eve.Click("onClick"); })
                        .Text("Sort")
                        )
                </div>
                <div class="col-md-3">
                    @(Html.EJ().Button("clearSort")
                        .Width("100px")
                        .ClientSideEvents(eve => { eve.Click("onClick"); })
                        .Text("Clear")
                        )
                </div>
            </div>
        </div>
    </div>
}
@section ScriptSection{
    <script type="text/javascript">
        $(function () {
            $("#sampleProperties").ejPropertiesPanel();
        });
        function onClick(args) {
            var gridObj = $("#Sorting").data("ejGrid");
            if (gridObj != undefined) {
                gridObj.clearSorting();               
                if (this.element.attr("id") == "doSorting") {
                    var name = $("#columnName").data("ejDropDownList");
                    var direction = $("#directions").data("ejDropDownList");
                    var columnName = name.selectedTextValue.replace(/\s*/g, '');
                    var sortDirection = direction.selectedTextValue.toLowerCase();
                    gridObj.sortColumn(columnName, sortDirection);
                }                
            }
        }
    </script>
}
