@using Syncfusion.JavaScript.DataVisualization

@section SampleHeading{<span class="sampleName">Sparkline / Sparkline Getting Start </span>}

@section ControlsSection{
   <div class="content-container-fluid">
    <div class="row">
        <div id="sparkline" class="cols-sample-area">
            <table style="width:100%;">
                <tr>
                    <td align="center"><i>Mean Working Hours for year</i></td>
                    <td><div style="width:170px;">
                        @(Html.EJ().Sparkline("line").Load("line").Tooltip(tl => tl.Font(fz => fz.Size("12px"))))
                        </div>
                    </td>
                <tr>
                    <td align="center"><i>Revenue Status</i></td>
                    <td>
                        <div style="height:100px;width:150px;">
                            @(Html.EJ().Sparkline("column").Load("column").Tooltip(tl => tl.Font(fz => fz.Size("12px"))))
                        </div>
   
</td>

                </tr>
                <tr>
                    <td align="center"><i>Project Status Tracing</i></td>
                    <td>
                        <div style="height:100px;width:150px;">
                            @(Html.EJ().Sparkline("area").Load("area").Tooltip(tl => tl.Font(fz => fz.Size("12px"))))
                        </div>
                        
                    </td>

                </tr>
                <tr>
                    <td align="center"><i>Profit Comparison for each months</i></td>
                    <td>
                        <div style="height:100px;width:150px;">
                            @(Html.EJ().Sparkline("winloss").Load("winloss"))
                        </div>
                       
                    </td>

                </tr>
                <tr>
                    <td align="center"><i>Expenditure for a year</i></td>
                    <td>
                        <table>
                            <tr>
                                <td><div style="height:40px;width:40px;">
                                    @(Html.EJ().Sparkline("pie1").Load("pie1").Tooltip(tl => tl.Font(fz => fz.Size("12px"))))
                                    </div>                                    
                                </td>
                                <td>
                                    <div style="height:40px;width:40px;">
                                        @(Html.EJ().Sparkline("pie2").Load("pie2").Tooltip(tl => tl.Font(fz => fz.Size("12px"))))
                                    </div>
                                </td>
                                <td><div style="height:40px;width:40px;">
                                        @(Html.EJ().Sparkline("pie3").Load("pie3").Tooltip(tl => tl.Font(fz => fz.Size("12px"))))
                                    </div>
                                </td>
                                <td>
                                    <div style="height:40px;width:40px;">
                                         @(Html.EJ().Sparkline("pie4").Load("pie4").Tooltip(tl => tl.Font(fz => fz.Size("12px"))))
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td align="center">Q1</td>
                                <td align="center">Q2</td>
                                <td align="center">Q3</td>
                                <td align="center">Q4</td>
                            </tr>
                        </table>
                    </td>

                </tr>
            </table>
        </div>
    </div>
</div>


}

    @section ScriptSection
{
        <script>
            if(!!window.SVGSVGElement){
                $("#sparkline").css('visibility','visible');
            var model;
            function line(args){
                model=args.model;
                model.dataSource= [3, 4, 1, 11, 2, 5, 12, 8, 6, 9, 7, 10, 3, 4, 1, 11, 2, 5, 12, 8, 6, 9, 7, 10, 3, 4, 1, 11, 2, 5, 12, 8, 6, 9, 7, 10, ];
                model.padding = 20;
                model.tooltip.visible = true;
                model.type= "line";
                model.size.height = 100;
                model.size.width = 170;
            }
            function column(args) {
                model = args.model;
                model.dataSource = [2, 6, -1, 1, 12, 5, -2, 7, -3, 5, 8, 10, ];
                model.tooltip.visible = true;
                model.type = "column";
                model.negativePointColor = "red";
                model.highPointColor = "blue";
                model.size.height = 100;
                model.size.width = 150;
            }
            function area(args) {
                model = args.model;
                model.dataSource = [12, -10, 11, 8, 17, 6, 2, -17, 13, -6, 8, 10, ];
                model.markerSettings.visible = true;
                model.tooltip.visible = true;
                model.type = "area";
                model.highPointColor = "blue";
                model.lowPointColor = "orange";
                model.size.height = 100;
                model.size.width = 150;
            }
            function winloss(args) {
                model = args.model;
                model.dataSource = [12, 15, -11, 13, 17, 0, -12, 17, 13, -15, 8, 10, ];
                model.type = "winloss";
                model.size.height = 100;
                model.size.width = 150;
            }
            function pie1(args) {
                model = args.model;
                model.dataSource = [4, 6, 7];
                model.type = "pie";
                model.tooltip.visible = true;
                model.width = 0;
                model.size.height = 40;
                model.size.width = 40;
            }
            function pie2(args) {
                model = args.model;
                model.dataSource = [8, 9, 1, ];
                model.type = "pie";
                model.tooltip.visible = true;
                model.width = 0;
                model.size.height = 40;
                model.size.width = 40;
            }
            function pie3(args) {
                model = args.model;
                model.dataSource = [2, 3, 5];
                model.type = "pie";
                model.tooltip.visible = true;
                model.width = 0;
                model.size.height = 40;
                model.size.width = 40;
            }
            function pie4(args) {
                model = args.model;
                model.dataSource = [10, 12, 11];
                model.type = "pie";
                model.tooltip.visible = true;
                model.width = 0;
                model.size.height = 40;
                model.size.width = 40;
            }
            }
            else {
                $("#sparkline").css('visibility', 'hidden');
                alert("Sparkline will not be supported in IE Version < 9");
            }
            </script>
        }

