@section SampleHeading{
    <span class="sampleName">Pager / Default Functionalities</span>}

@section ControlsSection{
    <div class="frame">
        <div class="control">
            @{Html.EJ().Rotator("content").ShowPager(false).Items(itemElement =>
                {
                itemElement.Add().ContentTemplate(@<div>
                <img class="image" src="@Url.Content("~/Images/rotator/nature.jpg")" />
            </div>);
                itemElement.Add().ContentTemplate(@<div>
                <img class="image" src="@Url.Content("~/Images/rotator/bird.jpg" )" />
            </div>);
                itemElement.Add().ContentTemplate(@<div>
                <img class="image" src="@Url.Content("~/Images/rotator/sculpture.jpg")" />
            </div>);
                itemElement.Add().ContentTemplate(@<div>
                <img class="image" src="@Url.Content("~/Images/rotator/seaview.jpg")" />
            </div>);
                itemElement.Add().ContentTemplate(@<div>
                <img class="image" src="@Url.Content("~/Images/rotator/snowfall.jpg")" />
            </div>);
                }).SlideWidth("100%").SlideHeight("350px").IsResponsive(true).ShowPlayButton(false).ShowNavigateButton(false).Render();}
            @Html.EJ().Pager("pager").PageCount(5).PageSize(1).IsResponsive(true).TotalRecordsCount(5).ClientSideEvents(e => e.Change("pagerChange"))
        </div>
    </div>
}
@section ScriptSection{
<script>

    function pagerChange(args) {
        slider_obj = $("#content").ejRotator("instance");
        slider_obj.gotoIndex(args.currentPage - 1);
    }
</script>    
}
@section StyleSection{
<style type="text/css" class="cssStyles">
    .frame {
        width: 100%;
        box-sizing: border-box;
    }

    #content > li .image {
        width: 100%;
        height: 350px;
    }
</style>
}
