
@section MetaTags{
   <meta name="description" content="This example demonstrates the default functionalities of the Pager in ASP.NET MVC">
}

@section SampleHeading{
    <span class="sampleName">Pager-Default Functionalities-ASP.NET MVC-SYNCFUSION</span>}
@section ActionDescription{
    <div class="action-description">
    <p>
        This sample demonstrates rendering Pager control allows you to navigate between the pages available in a record. 
        Pager has features like pageSizeList an option to have multiple choices of page size value of pager control and has showGoToPage text box to navigate to any required page from the current page.
    </p>
    </div>
}
@section ControlsSection{
    <div class="frame">
        <div class="control">
            @{Html.EJ().Rotator("content").ShowPager(false).Items(itemElement =>
                {
                itemElement.Add().ContentTemplate(@<div>
                <img class="image" src="@Url.Content("~/Images/rotator/nature.jpg")" alt="Nature"/>
            </div>);
                itemElement.Add().ContentTemplate(@<div>
                <img class="image" src="@Url.Content("~/Images/rotator/bird.jpg" )" alt="Bired"/>
            </div>);
                itemElement.Add().ContentTemplate(@<div>
                <img class="image" src="@Url.Content("~/Images/rotator/sculpture.jpg")" alt="Sculpture"/>
            </div>);
                itemElement.Add().ContentTemplate(@<div>
                <img class="image" src="@Url.Content("~/Images/rotator/seaview.jpg")" alt="SeaView"/>
            </div>);
                itemElement.Add().ContentTemplate(@<div>
                <img class="image" src="@Url.Content("~/Images/rotator/snowfall.jpg")" alt="SnowFall"/>
            </div>);
                }).SlideWidth("100%").SlideHeight("350px").IsResponsive(true).ShowPlayButton(false).ShowNavigateButton(false).Render();}
            @Html.EJ().Pager("pager").PageCount(5).PageSize(1).IsResponsive(true).TotalRecordsCount(5).ClientSideEvents(e => e.Change("pagerChange"))
        </div>
    </div>
}
@section ScriptSection{
<script>

    function pagerChange(args) {
        slider_obj = $("#content").ejRotator("instance");
        slider_obj.gotoIndex(args.currentPage - 1);
    }
</script>    
}
@section StyleSection{
<style type="text/css" class="cssStyles">
    .frame {
        width: 100%;
        box-sizing: border-box;
    }

    #content > li .image {
        width: 100%;
        height: 350px;
    }
</style>
}

