@section SampleHeading{
    <span class="sampleName">Pager / Methods</span>}

@section ControlsSection{
    <div class="frame">
        <div class="control">
            @Html.EJ().Pager("pager").PageCount(5).PageSize(1).IsResponsive(true).TotalRecordsCount(20).ClientSideEvents(e => e.Change("pagerChange"))
        </div>
    </div>
}
@section PropertiesSection{
    <div class="row">
        <div class="col-md-3">
            Page Count
        </div>
        <div class="col-md-3">
            @Html.EJ().NumericTextbox("pageCount").MinValue(1).Value("5").Width("100px").ClientSideEvents(e => e.Change("pageChange"))
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">Current Page</div>
        <div class="col-md-3">
            @Html.EJ().NumericTextbox("currentPage").MinValue(1).Value("1").Width("100px").ClientSideEvents(e => e.Change("currentPageChange"))
        </div>
    </div>
<div class="row">
    <div class="col-md-3">PageSize</div>
    <div class="col-md-3">
        @Html.EJ().NumericTextbox("pageSize").MinValue(1).MaxValue(5).Value("1").Width("100px").ClientSideEvents(e => e.Change("pageSizeChange"))
    </div>
</div>
<div class="row">
    <div class="col-md-3">Records Count</div>
    <div class="col-md-3">
        @Html.EJ().NumericTextbox("recordsCount").MinValue(1).Value("20").Width("100px").ClientSideEvents(e => e.Change("recrodsCountChange"))
    </div>
</div>
}
@section ScriptSection{
    <script type="text/javascript">
        $(function () {
            $("#sampleProperties").ejPropertiesPanel();
        });
        
        function pagerChange(args) {
            pagerObj = $("#pager").ejPager("instance");
            currentpageObj = $("#currentPage").ejNumericTextbox("instance");
            currentpageObj.option("value", pagerObj.model.currentPage);
        }
        function pageChange(args) {
            pagerObj = $("#pager").ejPager("instance");
            pageCountObj = $("#pageCount").ejNumericTextbox("instance");
            if (args.value < 8) {
                pagerObj.option("pageCount", args.value);
            }
            else {
                pagerObj.option("pageCount", 8);
                pageCountObj.option("maxValue", 8);
            }

        }
        function currentPageChange(args) {
            currentpageObj = $("#currentPage").ejNumericTextbox("instance");
            pagerObj = $("#pager").ejPager("instance");
            pageCountObj = $("#pageCount").ejNumericTextbox("instance");
            pagerObj.option("currentPage", args.value);
            currentpageObj.option("maxValue", pagerObj.model.totalPages);

        }

        function pageSizeChange(args) {
            currentpageObj = $("#currentPage").ejNumericTextbox("instance");
            pagerObj = $("#pager").ejPager("instance");
            pageCountObj = $("#pageCount").ejNumericTextbox("instance");
            pagerObj.option("pageSize", args.value);
            currentpageObj.option("maxValue", pagerObj.model.totalPages);
            pageCountObj.option("maxValue", pagerObj.model.totalPages);

        }

        function recrodsCountChange(args) {
            pagerObj = $("#pager").ejPager("instance");
            pageCountObj = $("#pageCount").ejNumericTextbox("instance");
            currentpageObj = $("#currentPage").ejNumericTextbox("instance");
            pagerObj.option("totalRecordsCount", args.value);
            currentpageObj.option("maxValue", pagerObj.model.totalPages);
            pageCountObj.option("maxValue", pagerObj.model.totalPages);
        }
    </script>
}
@section StyleSection{
    <style>
        .frame {
            width: 650px;
        }
    </style>
}
