@section ScriptReferenceSection{
    <script src="@Url.Content("~/Scripts/cultures/ej.culture.en-US.min.js")"></script>  
}

@section SampleHeading{
    <span class="sampleName">DateTimePicker / DateTimePickerFor</span>}

@model MVCSampleBrowser.Models.datetimepicker
@section ControlsSection{
    <div class="frame">
        <div class="control">

            @using (Html.BeginForm())
            {
                @Html.ValidationSummary(true)

                @Html.EJ().DateTimePickerFor(model => model.datetimepicker1, (Syncfusion.JavaScript.Models.DateTimePickerProperties)ViewData["datetime"]).Width("100%")
                @Html.ValidationMessageFor(model => model.datetimepicker1)

                @Html.EJ().Button("btn").Size(ButtonSize.Small).Text("Post").Type(ButtonType.Submit)
            }
        </div>
    </div>
}
@section StyleSection{
    <style>
        .control {
            width: 210px;
        }

            .control .e-datetime-wrap {
                width: 175px;
            }

        #btn {
            margin-left: 50px;
            margin-top: 20px;
        }
    </style>
}
