@using Syncfusion.MVC.EJ
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title</title>
        <meta name="description" content="An airline reservation is an flight booking application developed using EJ controls. The user/passenger can book a flight from one specified airport to an another."> 
        <link href="@Url.Content("~/favicon.ico")" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />        
        <link href="@Url.Content("~/Content/ejthemes/default-theme/ej.web.all.min.css")" rel="stylesheet" type="text/css" />
        <link href="@Url.Content("~/Content/airlinereservation.css")" rel="stylesheet" type="text/css" />

		<!--[if lt IE 9]>
		<script src="@Url.Content("~/Scripts/jquery-1.11.3.min.js")"></script>
		<![endif]-->
		<!--[if gte IE 9]><!-->
        <script src="@Url.Content("~/Scripts/jquery-3.0.0.min.js")"></script>
		<!--<![endif]-->
        <script src="@Url.Content("~/Scripts/jsrender.min.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Scripts/ej.web.all.min.js")" type="text/javascript"></script>

    </head>
    <body>  
        @RenderBody()
       
        @if (IsSectionDefined("ScriptSection"))
        {
            @RenderSection("ScriptSection", required: false)
        }
        
        @(Html.EJ().ScriptManager())
    </body>
</html>
