@section SampleHeading{ <span class="sampleName">PivotGrid-User Interactions-ASP.NET MVC-SYNCFUSION</span>}
@section MetaTags{
    <meta name="description" content="This demo for ASP.NET MVC pivot grid control describes how to rearrange the fields to change the pivot report and pivot view at runtime.">
}
@using Syncfusion.JavaScript;
@using Syncfusion.JavaScript.Olap;
@section ScriptReferenceSection{
    <script src="@Url.Content("~/Scripts/ej.web.all.min.js")" type="text/javascript"></script>
}
@section StyleSection{
    <style>
        .e-pivotgrid {
            width: 50%;
            height: 350px;
            display: inline-block;
            float: left;
            overflow: auto;
        }

        .e-pivotschemadesigner {
            width: 40% !important;
            display: inline-block;
            margin-left: 10px;
        }

        .row .cols-prop-area {
            margin-top: 30px;
            width: 40%;
            height: 120px;
            min-height: 0px;
        }

        .row .cols-sample-area {
            width: 100%;
        }

        #CodeViewTab ul > li:first-child + li {
            display: none;
        }
		
		@@media (min-width: 1920px) {.row .cols-prop-area { width: 25% !important; } }
		
    </style>
}
@section ScriptSection{
    <script type="text/javascript">
        var pivotGrid, relationalRadioBtnObj, olapRadioBtnObj;
        $(function () {
            $("#sampleProperties").ejPropertiesPanel();
            pivotGrid = $("#PivotGrid1").data("ejPivotGrid");
            relationalRadioBtnObj = $('#rdbRelational').data("ejRadioButton");
            olapRadioBtnObj = $('#rdbOlap').data("ejRadioButton");
        });
        function onLoad(args) {
            if (args.model.dataSource.data == null)
                args.model.dataSource.data = pivot_dataset;
        }
        function renderGrid(args) {
            var pivotdataSource = {
                data: pivot_dataset, cube: "",
                rows: [{ fieldName: "Country", fieldCaption: "Country" }, { fieldName: "State", fieldCaption: "State" }],
                columns: [{ fieldName: "Product", fieldCaption: "Product" }],
                values: [{ fieldName: "Amount", fieldCaption: "Amount" }, { fieldName: "Quantity", fieldCaption: "Quantity" }],
                filters: []
            };
            var olapDataSource = {
                data: "//bi.syncfusion.com/olap/msmdpump.dll", catalog: "Adventure Works DW 2008 SE", cube: "Adventure Works",
                rows: [{ fieldName: "[Date].[Fiscal]" }],
                columns: [{ fieldName: "[Customer].[Customer Geography]" }],
                values: [{ measures: [{ fieldName: "[Measures].[Internet Sales Amount]" }], axis: "columns" }],
                filters: []
            };
            $(".e-pivotgrid").remove();
            $(".e-pivotschemadesigner").remove();
            var gridPanel = ej.buildTag("div#PivotGrid1", "", { height: "670px", width: "50%", "overflow": "auto", "float": "left", "display": "block", "padding-right": "15px" })[0].outerHTML;
            var gridSchemaPanel = ej.buildTag("div#PivotSchemaDesigner1", "", { height: "650px", "float": "right", "display": "block" })[0].outerHTML;
            $(gridPanel).appendTo(".cols-sample-area");
            $(gridSchemaPanel).appendTo(".cols-sample-area");

            $("#PivotGrid1").ejPivotGrid({
                dataSource: relationalRadioBtnObj.model.checked ? pivotdataSource : olapRadioBtnObj.model.checked ? olapDataSource : pivotdataSource, pivotTableFieldListID: "PivotSchemaDesigner1",
                enableGroupingBar: true,
            });
            if (olapRadioBtnObj.model.checked)
                $("#PivotSchemaDesigner1").ejPivotSchemaDesigner({ olap: { showKPI: false, showNamedSets: true } });
            else
                $("#PivotSchemaDesigner1").ejPivotSchemaDesigner();
        }
        window.loadPivotGridFrameTheme = function () {
            window.setTimeout(function () {
                var pivotGridElement = $("#PivotGrid1").data("ejPivotGrid");
                if (pivotGridElement && pivotGridElement.model.enableGroupingBar && pivotGridElement.getJSONRecords() != null)
                    pivotGridElement.renderControlFromJSON();
            }, 2500);
        }
    </script>
}
@section ControlsSection{
    @Html.EJ().Pivot().PivotGrid("PivotGrid1").EnableGroupingBar(true).ClientSideEvents(clientSideEvents => clientSideEvents.Load("onLoad")).DataSource(dataSource => dataSource.Rows(rows => { rows.FieldName("Country").FieldCaption("Country").Add(); rows.FieldName("State").FieldCaption("State").Add(); }).Columns(columns => { columns.FieldName("Product").FieldCaption("Product").Add(); }).Values(values => { values.FieldName("Amount").Add(); values.FieldName("Quantity").Add(); })).PivotTableFieldListID("PivotSchemaDesigner1")
    @Html.EJ().Pivot().PivotSchemaDesigner("PivotSchemaDesigner1")
}

@section PropertiesSection{
    <div class="row">
        <div class="col-md-3" style="width:120px">
            Select Data
        </div>
        <div class="col-md-3" style="width:120px">
            @Html.EJ().RadioButton("rdbRelational").Name("DataSource").Text("Relational").ClientSideEvents(clientEvents => clientEvents.Change("renderGrid")).Checked(true)
        </div>
        <div class="col-md-3" style="width:80px">
            @Html.EJ().RadioButton("rdbOlap").Name("DataSource").Text("OLAP").ClientSideEvents(clientEvents => clientEvents.Change("renderGrid")).Checked(false)
        </div>
    </div>
}

